@import url('styleguide.css');
.pago-con-tarjeta {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}


.pago-con-tarjeta .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1400px;
  height: 1024px;
  position: relative;
}

.pago-con-tarjeta .overlap {
  position: absolute;
  width: 1400px;
  height: 1038px;
  top: 68px;
  left: 0;
}

.pago-con-tarjeta .overlap-group {
  position: absolute;
  width: 1400px;
  height: 1038px;
  top: 0;
  left: 0;
}

.pago-con-tarjeta .order-summary {
  position: absolute;
  width: 720px;
  height: 1024px;
  top: 14px;
  left: 678px;
  background-color: #f9f9fa;
  border: 1px solid;
  border-color: #d8d8d8;
}

.pago-con-tarjeta .frame {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 36px;
  padding: 48px;
  position: relative;
  top: 74px;
  left: 17px;
}

.pago-con-tarjeta .frame-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.pago-con-tarjeta .text-wrapper {
  position: relative;
  width: 179px;
  height: 48px;
  margin-top: -1px;
  font-family: var(--sub-headline-1-font-family);
  font-weight: var(--sub-headline-1-font-weight);
  color: var(--text);
  font-size: var(--sub-headline-1-font-size);
  letter-spacing: var(--sub-headline-1-letter-spacing);
  line-height: var(--sub-headline-1-line-height);
  font-style: var(--sub-headline-1-font-style);
}

.pago-con-tarjeta .line {
  position: relative;
  width: 476px;
  height: 1px;
  object-fit: cover;
}

.pago-con-tarjeta .frame-3 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 36px;
  position: relative;
  flex: 0 0 auto;
}

.pago-con-tarjeta .img {
  position: relative;
  width: 476px;
  height: 1px;
  margin-top: -1px;
  object-fit: cover;
}

.pago-con-tarjeta .frame-4 {
  display: inline-flex;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.pago-con-tarjeta .cdigo-de-promocin {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  padding: 14px 192px 14px 16px;
  position: relative;
  flex: 0 0 auto;
  margin-top: -1.5px;
  margin-bottom: -1.5px;
  margin-left: -1.5px;
  background-color: #ffffff;
  border-radius: 4px;
  border: 1.5px solid;
  border-color: var(--stroke);
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: var(--stroke);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 18px;
  white-space: nowrap;
}

.pago-con-tarjeta .div-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 13px 23px;
  position: relative;
  flex: 0 0 auto;
  margin-top: -3px;
  margin-right: -3px;
  background-color: var(--stroke);
  border-radius: 4px;
  border: 1.5px solid;
  border-color: var(--stroke);
}

.pago-con-tarjeta .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1.5px;
  margin-left: -1.5px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: var(--text-2);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 12px;
  white-space: nowrap;
}

.pago-con-tarjeta .frame-5 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.pago-con-tarjeta .frame-6 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.pago-con-tarjeta .frame-7 {
  display: inline-flex;
  align-items: flex-start;
  gap: 346px;
  position: relative;
  flex: 0 0 auto;
}

.pago-con-tarjeta .text-wrapper-3 {
  position: relative;
  width: 70px;
  height: 25px;
  margin-top: -1px;
  font-family: var(--body-medium-font-family);
  font-weight: var(--body-medium-font-weight);
  color: var(--text);
  font-size: var(--body-medium-font-size);
  letter-spacing: var(--body-medium-letter-spacing);
  line-height: var(--body-medium-line-height);
  font-style: var(--body-medium-font-style);
}

.pago-con-tarjeta .text-wrapper-4 {
  position: relative;
  width: 60px;
  height: 25px;
  margin-top: -1px;
  font-family: var(--body-medium-font-family);
  font-weight: var(--body-medium-font-weight);
  color: var(--text);
  font-size: var(--body-medium-font-size);
  letter-spacing: var(--body-medium-letter-spacing);
  line-height: var(--body-medium-line-height);
  font-style: var(--body-medium-font-style);
}

.pago-con-tarjeta .text-wrapper-5 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--body-medium-font-family);
  font-weight: var(--body-medium-font-weight);
  color: var(--text);
  font-size: var(--body-medium-font-size);
  letter-spacing: var(--body-medium-letter-spacing);
  line-height: var(--body-medium-line-height);
  white-space: nowrap;
  font-style: var(--body-medium-font-style);
}

.pago-con-tarjeta .frame-8 {
  position: relative;
  flex: 0 0 auto;
}

.pago-con-tarjeta .frame-9 {
  display: inline-flex;
  align-items: flex-start;
  gap: 183px;
  position: relative;
  flex: 0 0 auto;
}

.pago-con-tarjeta .frame-10 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
}

.pago-con-tarjeta .text-wrapper-6 {
  position: relative;
  width: 38px;
  height: 22px;
  margin-top: -1px;
  font-family: var(--body-medium-font-family);
  font-weight: var(--body-medium-font-weight);
  color: var(--text);
  font-size: var(--body-medium-font-size);
  letter-spacing: var(--body-medium-letter-spacing);
  line-height: var(--body-medium-line-height);
  font-style: var(--body-medium-font-style);
}

.pago-con-tarjeta .text-wrapper-7 {
  position: relative;
  width: 166px;
  height: 22px;
  font-family: var(--body-small-font-family);
  font-weight: var(--body-small-font-weight);
  color: var(--stroke);
  font-size: var(--body-small-font-size);
  letter-spacing: var(--body-small-letter-spacing);
  line-height: var(--body-small-line-height);
  white-space: nowrap;
  font-style: var(--body-small-font-style);
}

.pago-con-tarjeta .text-wrapper-8 {
  width: 127px;
  height: 55px;
  font-size: 36px;
  line-height: 18px;
  position: relative;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: var(--text);
  letter-spacing: 0;
}

.pago-con-tarjeta .frame-11 {
  display: flex;
  width: 1400px;
  height: 49px;
  align-items: center;
  gap: 396px;
  padding: 51px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0e3b3d;
  box-shadow: 0px 4px 9px #00000063;
}

.pago-con-tarjeta .navbar {
  position: relative;
  width: 720px;
  height: 41px;
  margin-top: -47px;
  margin-bottom: -47px;
}

.pago-con-tarjeta .frame-12 {
  position: absolute;
  width: 179px;
  height: 31px;
  top: 5px;
  left: -42px;
  border-radius: 8px;
}

.pago-con-tarjeta .group {
  position: absolute;
  width: 13px;
  height: 12px;
  top: 8px;
  left: 11px;
}

.pago-con-tarjeta .rectangle {
  top: 0;
  position: absolute;
  width: 13px;
  height: 2px;
  left: 0;
  background-color: #ffffff;
}

.pago-con-tarjeta .rectangle-2 {
  top: 5px;
  position: absolute;
  width: 13px;
  height: 2px;
  left: 0;
  background-color: #ffffff;
}

.pago-con-tarjeta .rectangle-3 {
  top: 11px;
  position: absolute;
  width: 13px;
  height: 2px;
  left: 0;
  background-color: #ffffff;
}

.pago-con-tarjeta .text-wrapper-9 {
  position: absolute;
  width: 196px;
  top: 4px;
  left: 32px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.pago-con-tarjeta .text-wrapper-10 {
  left: 220px;
  position: absolute;
  height: 16px;
  top: 9px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.pago-con-tarjeta .text-wrapper-11 {
  left: 327px;
  position: absolute;
  height: 16px;
  top: 9px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.pago-con-tarjeta .text-wrapper-12 {
  left: 434px;
  position: absolute;
  height: 16px;
  top: 9px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.pago-con-tarjeta .text-wrapper-13 {
  left: 547px;
  position: absolute;
  height: 16px;
  top: 9px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.pago-con-tarjeta .frame-13 {
  position: relative;
  flex: 0 0 auto;
  margin-top: -37.5px;
  margin-bottom: -37.5px;
}

.pago-con-tarjeta .frame-14 {
  display: flex;
  flex-direction: column;
  width: 590px;
  height: 734px;
  align-items: flex-start;
  gap: 36px;
  padding: 48px;
  position: absolute;
  top: 89px;
  left: 88px;
  border-radius: 8px;
}

.pago-con-tarjeta .text-wrapper-14 {
  position: relative;
  width: 207px;
  height: 48px;
  margin-top: -1px;
  font-family: var(--sub-headline-1-font-family);
  font-weight: var(--sub-headline-1-font-weight);
  color: var(--text);
  font-size: var(--sub-headline-1-font-size);
  letter-spacing: var(--sub-headline-1-letter-spacing);
  line-height: var(--sub-headline-1-line-height);
  font-style: var(--sub-headline-1-font-style);
}

.pago-con-tarjeta .text-wrapper-15 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--sub-headline-3-bold-font-family);
  font-weight: var(--sub-headline-3-bold-font-weight);
  color: var(--text);
  font-size: var(--sub-headline-3-bold-font-size);
  letter-spacing: var(--sub-headline-3-bold-letter-spacing);
  line-height: var(--sub-headline-3-bold-line-height);
  white-space: nowrap;
  font-style: var(--sub-headline-3-bold-font-style);
}

.pago-con-tarjeta .card-wrapper {
  display: inline-flex;
  align-items: flex-start;
  gap: 19px;
  position: relative;
  flex: 0 0 auto;
}

.pago-con-tarjeta .card {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.pago-con-tarjeta .overlap-group-wrapper {
  position: relative;
  width: 15px;
  height: 15px;
}

.pago-con-tarjeta .overlap-group-2 {
  position: relative;
  width: 19px;
  height: 19px;
  top: -2px;
  left: -2px;
  border-radius: 9.5px;
}

.pago-con-tarjeta .ellipse {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 0px;
  left: 0px;
  background-color: var(--click); /* Aquí se aplicará el color verde */
  border-radius: 50%; /* Esto hace que el elemento sea circular */
}

.pago-con-tarjeta .card-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: var(--text);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 22px;
  white-space: nowrap;
}

.pago-con-tarjeta .text-wrapper-16 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--sub-headline-2-font-family);
  font-weight: var(--sub-headline-2-font-weight);
  color: var(--text);
  font-size: var(--sub-headline-2-font-size);
  letter-spacing: var(--sub-headline-2-letter-spacing);
  line-height: var(--sub-headline-2-line-height);
  white-space: nowrap;
  font-style: var(--sub-headline-2-font-style);
}

.pago-con-tarjeta .element {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  padding: 12px 0px 12px 16px;
  position: relative;
  flex: 0 0 auto;
  margin-bottom: -1.5px;
  margin-left: -1.5px;
  margin-right: -1.5px;
  border-radius: 4px;
  border: 1.5px solid;
  border-color: var(--stroke);
  background: none;
  width: 460px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: var(--stroke);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 22px;
}

.pago-con-tarjeta .frame-15 {
  display: inline-flex;
  align-items: flex-start;
  gap: 18px;
  position: relative;
  flex: 0 0 auto;
}

.pago-con-tarjeta .frame-16 {
  display: flex;
  width: 236px;
  align-items: flex-start;
  gap: 10px;
  padding: 12px 0px 12px 16px;
  position: relative;
  flex: 0 0 auto;
  margin-bottom: -1.5px;
  margin-left: -1.5px;
  margin-right: -1.5px;
  border-radius: 4px;
  border: 1.5px solid;
  border-color: var(--stroke);
}

.pago-con-tarjeta .text-wrapper-17 {
  position: relative;
  width: 165px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: var(--stroke);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 22px;
}

.pago-con-tarjeta .element-wrapper {
  width: 227px;
  padding: 12px 16px;
  position: relative;
  margin-bottom: -1.5px;
  margin-left: -1.5px;
  margin-right: -1.5px;
  border-radius: 4px;
  border: 1.5px solid;
  border-color: var(--stroke);
  background: none;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: var(--stroke);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 22px;
}

.pago-con-tarjeta .save-card-details {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.pago-con-tarjeta .frame-17 {
  position: relative;
  width: 19px;
  height: 19px;
  margin-left: -1.5px;
  border-radius: 2px;
  border: 1.5px solid;
  border-color: var(--stroke);
}

.pago-con-tarjeta .save-card-details-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight);
  color: var(--stroke);
  font-size: var(--body-font-size);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  white-space: nowrap;
  font-style: var(--body-font-style);
}

.pago-con-tarjeta .frame-18 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 23px;
  position: relative;
  flex: 0 0 auto;
  margin-bottom: -1908.5px;
  margin-right: -7325px;
}

.pago-con-tarjeta .pay {
  display: flex;
  width: 476px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px 193px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--empty);
  border-radius: 4px;
}

.pago-con-tarjeta .pay-usd {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  margin-left: -6px;
  margin-right: -6px;
  font-family: var(--body-bold-font-family);
  font-weight: var(--body-bold-font-weight);
  color: var(--text-2);
  font-size: var(--body-bold-font-size);
  letter-spacing: var(--body-bold-letter-spacing);
  line-height: var(--body-bold-line-height);
  white-space: nowrap;
  font-style: var(--body-bold-font-style);
}

.pago-con-tarjeta .vector {
  position: relative;
  width: 1264.12px;
  height: 294.49px;
  margin-left: -0.12px;
}

.pago-con-tarjeta .p {
  position: relative;
  width: 475px;
  font-family: var(--body-small-font-family);
  font-weight: var(--body-small-font-weight);
  color: #abacac;
  font-size: var(--body-small-font-size);
  letter-spacing: var(--body-small-letter-spacing);
  line-height: var(--body-small-line-height);
  font-style: var(--body-small-font-style);
}

.pago-con-tarjeta .frame-19 {
  position: absolute;
  width: 1400px;
  height: 68px;
  top: 0;
  left: 0;
  background-color: #02474c;
}

.pago-con-tarjeta .group-2 {
  position: absolute;
  width: 195px;
  height: 36px;
  top: 14px;
  left: 17px;
}

.pago-con-tarjeta .text-wrapper-18 {
  position: absolute;
  height: 23px;
  top: 8px;
  left: 83px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 19px;
  letter-spacing: 0;
  line-height: normal;
}

.pago-con-tarjeta .vector-2 {
  position: absolute;
  width: 66px;
  height: 36px;
  top: 0;
  left: 0;
}

.pago-con-tarjeta .frame-20 {
  position: absolute;
  width: 534px;
  height: 39px;
  top: 14px;
  left: 332px;
  background-color: #ffffff;
  border-radius: 6px;
}

.pago-con-tarjeta .buscar-producto {
  position: absolute;
  height: 16px;
  top: 8px;
  left: 174px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #aba3a3;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
  border: none; /* Elimina el borde */
  outline: none; /* Elimina el contorno del enfoque */
}

.pago-con-tarjeta .overlap-group-3 {
  position: absolute;
  width: 128px;
  height: 25px;
  top: 8px;
  left: 18px;
}

.pago-con-tarjeta .text-wrapper-19 {
  position: absolute;
  height: 16px;
  top: 0;
  left: 0;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #aba3a3;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.pago-con-tarjeta .chevron-down {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 1px;
  left: 104px;
}

.pago-con-tarjeta .line-2 {
  position: absolute;
  width: 1px;
  height: 38px;
  top: 0;
  left: 156px;
  object-fit: cover;
}

.pago-con-tarjeta .frame-21 {
  position: absolute;
  width: 43px;
  height: 38px;
  top: 0;
  left: 491px;
}

.pago-con-tarjeta .frame-wrapper {
  position: absolute;
  width: 134px;
  height: 29px;
  top: 12px;
  left: 907px;
}

.pago-con-tarjeta .frame-22 {
  display: flex;
  width: 134px;
  align-items: center;
  gap: 4px;
  position: relative;
}

.pago-con-tarjeta .frame-23 {
  display: flex;
  flex-direction: column;
  width: 131.5px;
  align-items: flex-start;
  gap: 4px;
  position: relative;
}

.pago-con-tarjeta .frame-24 {
  display: flex;
  width: 132px;
  align-items: center;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
  margin-right: -0.5px;
}

.pago-con-tarjeta .group-3 {
  position: relative;
  width: 16px;
  height: 8.08px;
}

.pago-con-tarjeta .frame-25 {
  display: inline-flex;
  align-items: flex-start;
  gap: 5px;
  position: relative;
  flex: 0 0 auto;
  margin-right: -1px;
}

.pago-con-tarjeta .text-wrapper-20 {
  position: relative;
  width: 113px;
  margin-top: -1px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 11px;
  letter-spacing: 0;
  line-height: normal;
}

.pago-con-tarjeta .frame-26 {
  display: flex;
  width: 132px;
  align-items: center;
  gap: 9px;
  position: relative;
  flex: 0 0 auto;
  margin-right: -0.5px;
}

.pago-con-tarjeta .group-4 {
  position: relative;
  width: 12px;
  height: 10px;
  margin-left: -0.5px;
}

.pago-con-tarjeta .frame-27 {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.pago-con-tarjeta .text-wrapper-21 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.pago-con-tarjeta .frame-28 {
  display: inline-flex;
  flex-direction: column;
  height: 56px;
  align-items: flex-start;
  gap: 4px;
  padding: 3px;
  position: absolute;
  top: 6px;
  left: 1083px;
}

.pago-con-tarjeta .ll-menos-wrapper {
  display: flex;
  width: 70px;
  align-items: flex-start;
  gap: 32px;
  position: relative;
  flex: 0 0 auto;
}

.pago-con-tarjeta .ll-menos {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 9px;
  letter-spacing: 0;
  line-height: normal;
}

.pago-con-tarjeta .frame-29 {
  display: flex;
  width: 94px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.pago-con-tarjeta .headphones-svgrepo {
  position: relative;
  width: 19px;
  height: 19px;
}

.pago-con-tarjeta .text-wrapper-22 {
  position: relative;
  width: 96px;
  margin-top: -1px;
  margin-right: -21px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.pago-con-tarjeta .frame-30 {
  position: absolute;
  width: 120px;
  height: 44px;
  top: 12px;
  left: 1224px;
}

.pago-con-tarjeta .user {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 10px;
  left: 0;
}

.pago-con-tarjeta .frame-31 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  position: absolute;
  top: 0;
  left: 96px;
}

.pago-con-tarjeta .frame-32 {
  display: inline-flex;
  flex-direction: column;
  height: 44px;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.pago-con-tarjeta .group-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.pago-con-tarjeta .group-5 {
  position: relative;
  width: 26.5px;
  height: 36.05px;
  margin-right: -2px;
}

.pago-con-tarjeta .overlap-group-4 {
  position: relative;
  width: 24px;
  height: 36px;
}

.pago-con-tarjeta .text-wrapper-23 {
  position: absolute;
  width: 21px;
  height: 18px;
  top: 0;
  left: 4px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #fcdd3b;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.pago-con-tarjeta .shopping-cart {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 12px;
  left: 0;
}

.pago-con-tarjeta .vector-3 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 9px;
  left: 49px;
}
