.detalle-del-producto {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 600px;
}

.detalle-del-producto .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1400px;
  height: 600px;
  position: relative;
}



.detalle-del-producto .img2 {
  position: absolute;
  width: 422px;
  height: 530px;
  top: 20px;
  left: 246px;
  border-radius: 20px;
}


.detalle-del-producto .frame {
  display: inline-flex;
  align-items: flex-start;
  gap: 12px;
  position: absolute;
  top: 557px;
  left: 720px;
}

.detalle-del-producto .div-wrapper2 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 12px 24px;
  position: relative;
  flex: 0 0 auto;
  background-color: #efefef;
  border-radius: 62px;
  overflow: hidden;
  top: -170px;
}

.detalle-del-producto .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #00000099;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.detalle-del-producto .frame-222 {
  display: flex;
  width: 400px;
  height: 52px;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 16px 54px;
  position: absolute;
  top: 485px;
  left: 850px;
  background-color: #000000;
  border-radius: 62px;
  overflow: hidden;
  transition: all 0.2s ease;
}

.detalle-del-producto .text-wrapper-222 {
  position: relative;
  width: fit-content;
  margin-top: -0.5px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.detalle-del-producto .frame-3 {
  display: flex;
  width: 170px;
  height: 52px;
  align-items: center;
  justify-content: space-between;
  padding: 16px 20px;
  position: absolute;
  top: 651px;
  left: 720px;
  background-color: #efefef;
  border-radius: 62px;
  overflow: hidden;
}

.detalle-del-producto .img {
  position: relative;
  width: 24px;
  height: 24px;
  margin-top: -2px;
  margin-bottom: -2px;
}

.detalle-del-producto .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -0.5px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.detalle-del-producto .frame-4 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 6px 14px;
  position: absolute;
  top: 278px;
  left: 908px;
  background-color: #ff33331a;
  border-radius: 62px;
  overflow: hidden;
}

.detalle-del-producto .text-wrapper-4 {
  margin-top: -1px;
  color: #ff3333;
  position: relative;
  width: fit-content;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.detalle-del-producto .text-wrapper-52 {
  position: absolute;
  height: 48px;
  top: 30px;
  left: 720px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.detalle-del-producto .frame-52 {
  display: inline-flex;
  align-items: flex-start;
  gap: 12px;
  position: absolute;
  top: 150px;
  left: 720px;
}

.detalle-del-producto .text-wrapper-6 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.detalle-del-producto .text-wrapper-7 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #0000004c;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: line-through;
  white-space: nowrap;
}

.detalle-del-producto .text-wrapper-82 {
  position: absolute;
  top: 250px;
  left: 720px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #00000099;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.detalle-del-producto .p2 {
  position: absolute;
  width: 200px;
  top: 200px;
  left: 720px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #00000099;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 22px;
}

.detalle-del-producto .text-wrapper-92 {
  position: absolute;
  top: 350px;
  left: 720px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #00000099;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.detalle-del-producto .image {
  position: absolute;
  width: 422px;
  height: 530px;
  top: 173px;
  left: 246px;
}

.detalle-del-producto .image-2 {
  position: absolute;
  width: 152px;
  height: 167px;
  top: 173px;
  left: 70px;
}

.detalle-del-producto .image-3 {
  position: absolute;
  width: 152px;
  height: 168px;
  top: 354px;
  left: 70px;
  object-fit: cover;
}

.detalle-del-producto .image-4 {
  position: absolute;
  width: 152px;
  height: 167px;
  top: 536px;
  left: 70px;
  object-fit: cover;
}

.detalle-del-producto .frame-62 {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  position: absolute;
  top: 100px;
  left: 720px;
}

.detalle-del-producto .frame-7 {
  display: inline-flex;
  align-items: flex-start;
  gap: 7.1px;
  position: relative;
  flex: 0 0 auto;
}

.detalle-del-producto .star {
  position: relative;
  width: 23.5px;
  height: 22.35px;
}

.detalle-del-producto .star-2 {
  position: relative;
  width: 11.75px;
  height: 22.35px;
}

.detalle-del-producto .element {
  color: transparent;
  position: relative;
  width: fit-content;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.detalle-del-producto .span {
  color: #000000;
}

.detalle-del-producto .text-wrapper-10 {
  color: #00000099;
}

.detalle-del-producto .line22 {
  width: 590px;
  height: 1px;
  top: 355px;
  left: 870px;
  position: absolute;
  object-fit: cover;
}

.detalle-del-producto .line-22 {
  width: 590px;
  height: 1px;
  top: 460px;
  left: 870px;
  position: absolute;
  object-fit: cover;
}

.detalle-del-producto .line-32 {
  width: 590px;
  height: 1px;
  top: 580px;
  left: 870px;
  position: absolute;
  object-fit: cover;
}

.detalle-del-producto .frame-wrapper {
  display: flex;
  width: 1403px;
  height: 404px;
  align-items: center;
  justify-content: center;
  gap: 172px;
  padding: 97px 106px;
  position: absolute;
  top: 778px;
  left: -3px;
  background-color: #393939;
}

.detalle-del-producto .frame-8 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
  margin-top: -41px;
  margin-bottom: -41px;
}

.detalle-del-producto .frame-9 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 172px;
  position: relative;
  flex: 0 0 auto;
}

.detalle-del-producto .frame-10 {
  position: relative;
  width: 1105px;
  height: 227px;
}

.detalle-del-producto .frame-11 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  position: absolute;
  top: 0;
  left: 0;
}

.detalle-del-producto .RESEARCH {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 18px;
  letter-spacing: 0.2px;
  line-height: 17px;
  white-space: nowrap;
}

.detalle-del-producto .text-wrapper-11 {
  color: #00c9d6;
  letter-spacing: 0.04px;
}

.detalle-del-producto .text-wrapper-12 {
  color: #ffffff;
  letter-spacing: 0.04px;
}

.detalle-del-producto .stratus-RESEARCH {
  position: relative;
  width: fit-content;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
  letter-spacing: 0.2px;
  line-height: 17px;
}

.detalle-del-producto .cont-ctenos {
  position: relative;
  width: fit-content;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 18px;
  letter-spacing: 0.2px;
  line-height: 17px;
}

.detalle-del-producto .text-wrapper-13 {
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0.03px;
}

.detalle-del-producto .frame-12 {
  position: relative;
  flex: 0 0 auto;
}

.detalle-del-producto .frame-13 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 21px;
  position: absolute;
  top: 0;
  left: 406px;
}

.detalle-del-producto .text-wrapper-14 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #00c9d6;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.detalle-del-producto .frame-14 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
}

.detalle-del-producto .text-wrapper-15 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.detalle-del-producto .text-wrapper-16 {
  position: relative;
  width: fit-content;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.detalle-del-producto .frame-15 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 21px;
  position: absolute;
  top: 0;
  left: 688px;
}

.detalle-del-producto .frame-16 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 21px;
  position: absolute;
  top: 0;
  left: 973px;
}

.detalle-del-producto .frame-17 {
  display: inline-flex;
  align-items: flex-start;
  gap: 11px;
  position: relative;
  flex: 0 0 auto;
}

.detalle-del-producto .img-wrapper {
  position: relative;
  width: 97px;
  height: 55px;
  background-color: #ffffff;
  border-radius: 5px;
}

.detalle-del-producto .VISA {
  position: absolute;
  width: 90px;
  height: 27px;
  top: 13px;
  left: 2px;
  object-fit: cover;
}

.detalle-del-producto .MASTER {
  position: absolute;
  width: 85px;
  height: 49px;
  top: 1px;
  left: 7px;
  object-fit: cover;
}

.detalle-del-producto .image-5 {
  position: absolute;
  width: 93px;
  height: 47px;
  top: 4px;
  left: 0;
}

.detalle-del-producto .INSLALLMENTS {
  position: absolute;
  width: 84px;
  height: 59px;
  top: 0;
  left: 7px;
  object-fit: cover;
}

.detalle-del-producto .overlap-group-wrapper {
  position: absolute;
  width: 1404px;
  height: 60px;
  top: 1182px;
  left: -7px;
}

.detalle-del-producto .overlap-group {
  position: relative;
  width: 1581px;
  height: 59px;
  background-color: #161616;
}

.detalle-del-producto .element-e {
  position: absolute;
  top: 20px;
  left: 209px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.2px;
  line-height: 17px;
  white-space: nowrap;
}

.detalle-del-producto .frame-18 {
  position: absolute;
  width: 1400px;
  height: 68px;
  top: 0;
  left: 0;
  background-color: #02474c;
}

.detalle-del-producto .group {
  position: absolute;
  width: 195px;
  height: 36px;
  top: 14px;
  left: 17px;
}

.detalle-del-producto .text-wrapper-17 {
  position: absolute;
  height: 23px;
  top: 8px;
  left: 83px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 19px;
  letter-spacing: 0;
  line-height: normal;
}

.detalle-del-producto .vector {
  position: absolute;
  width: 66px;
  height: 36px;
  top: 0;
  left: 0;
}

.detalle-del-producto .frame-19 {
  position: absolute;
  width: 534px;
  height: 39px;
  top: 14px;
  left: 332px;
  background-color: #ffffff;
  border-radius: 6px;
}

.detalle-del-producto .buscar-producto {
  position: absolute;
  width: 90px;
  height: 16px;
  top: 8px;
  left: 174px;
  background-color: transparent;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #aba3a3;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
  border: 0;
  padding: 0;
}

.detalle-del-producto .overlap-group-2 {
  position: absolute;
  width: 128px;
  height: 25px;
  top: 8px;
  left: 18px;
}

.detalle-del-producto .text-wrapper-18 {
  position: absolute;
  height: 16px;
  top: 0;
  left: 0;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #aba3a3;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.detalle-del-producto .chevron-down {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 1px;
  left: 104px;
}

.detalle-del-producto .line-4 {
  width: 1px;
  height: 38px;
  top: 0;
  left: 156px;
  position: absolute;
  object-fit: cover;
}

.detalle-del-producto .frame-20 {
  position: absolute;
  width: 43px;
  height: 38px;
  top: 0;
  left: 490px;
}

.detalle-del-producto .group-2 {
  position: absolute;
  width: 134px;
  height: 29px;
  top: 12px;
  left: 907px;
}

.detalle-del-producto .frame-21 {
  display: flex;
  width: 134px;
  align-items: center;
  gap: 4px;
  position: relative;
}

.detalle-del-producto .frame-22 {
  display: flex;
  flex-direction: column;
  width: 131.5px;
  align-items: flex-start;
  gap: 4px;
  position: relative;
}

.detalle-del-producto .frame-23 {
  display: flex;
  width: 132px;
  align-items: center;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
  margin-right: -0.5px;
}

.detalle-del-producto .group-3 {
  position: relative;
  width: 16px;
  height: 8.08px;
}

.detalle-del-producto .frame-24 {
  display: inline-flex;
  align-items: flex-start;
  gap: 5px;
  position: relative;
  flex: 0 0 auto;
  margin-right: -1px;
}

.detalle-del-producto .text-wrapper-19 {
  position: relative;
  width: 113px;
  margin-top: -1px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 11px;
  letter-spacing: 0;
  line-height: normal;
}

.detalle-del-producto .frame-25 {
  display: flex;
  width: 132px;
  align-items: center;
  gap: 9px;
  position: relative;
  flex: 0 0 auto;
  margin-right: -0.5px;
}

.detalle-del-producto .group-4 {
  position: relative;
  width: 12px;
  height: 10px;
  margin-left: -0.5px;
}

.detalle-del-producto .frame-26 {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.detalle-del-producto .text-wrapper-20 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.detalle-del-producto .frame-27 {
  display: inline-flex;
  flex-direction: column;
  height: 56px;
  align-items: flex-start;
  gap: 4px;
  padding: 3px;
  position: absolute;
  top: 6px;
  left: 1083px;
}

.detalle-del-producto .ll-menos-wrapper {
  display: flex;
  width: 70px;
  align-items: flex-start;
  gap: 32px;
  position: relative;
  flex: 0 0 auto;
}

.detalle-del-producto .ll-menos {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 9px;
  letter-spacing: 0;
  line-height: normal;
}

.detalle-del-producto .frame-28 {
  display: flex;
  width: 94px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.detalle-del-producto .headphones-svgrepo {
  position: relative;
  width: 19px;
  height: 19px;
}

.detalle-del-producto .text-wrapper-21 {
  position: relative;
  width: 96px;
  margin-top: -1px;
  margin-right: -21px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.detalle-del-producto .frame-29 {
  position: absolute;
  width: 120px;
  height: 44px;
  top: 12px;
  left: 1224px;
}

.detalle-del-producto .user {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 10px;
  left: 0;
}

.detalle-del-producto .frame-30 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  position: absolute;
  top: 0;
  left: 96px;
}

.detalle-del-producto .frame-31 {
  display: inline-flex;
  flex-direction: column;
  height: 44px;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.detalle-del-producto .group-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.detalle-del-producto .group-5 {
  position: relative;
  width: 26.5px;
  height: 36.05px;
  margin-right: -2px;
}

.detalle-del-producto .overlap-group-3 {
  position: relative;
  width: 24px;
  height: 36px;
}

.detalle-del-producto .text-wrapper-22 {
  position: absolute;
  width: 21px;
  height: 18px;
  top: 0;
  left: 4px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #fcdd3b;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.detalle-del-producto .shopping-cart {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 12px;
  left: 0;
}

.detalle-del-producto .vector-2 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 9px;
  left: 49px;
}

.detalle-del-producto .frame-32 {
  display: flex;
  width: 1400px;
  height: 49px;
  align-items: center;
  gap: 396px;
  padding: 51px;
  position: absolute;
  top: 68px;
  left: 0;
  background-color: #0e3b3d;
  box-shadow: 0px 4px 9px #00000063;
}

.detalle-del-producto .navbar {
  position: relative;
  width: 720px;
  height: 41px;
  margin-top: -47px;
  margin-bottom: -47px;
}

.detalle-del-producto .frame-33 {
  position: absolute;
  width: 179px;
  height: 31px;
  top: 5px;
  left: -42px;
  border-radius: 8px;
}

.detalle-del-producto .group-6 {
  position: absolute;
  width: 13px;
  height: 12px;
  top: 8px;
  left: 11px;
}

.detalle-del-producto .rectangle {
  top: 0;
  position: absolute;
  width: 13px;
  height: 2px;
  left: 0;
  background-color: #ffffff;
}

.detalle-del-producto .rectangle-2 {
  top: 5px;
  position: absolute;
  width: 13px;
  height: 2px;
  left: 0;
  background-color: #ffffff;
}

.detalle-del-producto .rectangle-3 {
  top: 11px;
  position: absolute;
  width: 13px;
  height: 2px;
  left: 0;
  background-color: #ffffff;
}

.detalle-del-producto .text-wrapper-23 {
  position: absolute;
  width: 196px;
  top: 4px;
  left: 32px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.detalle-del-producto .text-wrapper-24 {
  left: 220px;
  position: absolute;
  height: 16px;
  top: 9px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.detalle-del-producto .text-wrapper-25 {
  left: 327px;
  position: absolute;
  height: 16px;
  top: 9px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.detalle-del-producto .text-wrapper-26 {
  left: 434px;
  position: absolute;
  height: 16px;
  top: 9px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.detalle-del-producto .text-wrapper-27 {
  left: 547px;
  position: absolute;
  height: 16px;
  top: 9px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.detalle-del-producto .frame-34 {
  position: relative;
  flex: 0 0 auto;
  margin-top: -37.5px;
  margin-bottom: -37.5px;
}
