.pantalla-despegable {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 3000;
}

.dropdown-container {
  position: absolute;
  top: 100%;
  left: -325px; /* Ajusta este valor según sea necesario */
  z-index: 2000 !important;
  display: block;
  /* Otros estilos de tu elección */
}

.button-remover{
  background-color: white;
  border: none;
}

.scroll-container {
  max-height: 400px; /* Ajusta esta altura según sea necesario */
  overflow-y: auto;
}

.pantalla-despegable .div2 {
  background-color: #ffffff;
  width: 358px;
  height: 495px;
  position: relative;
}

.pantalla-despegable .overlap2 {
  position: absolute;
  width: 358px;
  height: 88px;
  top: 0;
  left: 0;
  background-color: #0e3b3e;
}

.pantalla-despegable .overlap-group2 {
  position: absolute;
  width: 214px;
  height: 75px;
  top: 2px;
  left: 36px;
}

.pantalla-despegable .text-wrapper2 {
  position: absolute;
  top: 43px;
  left: 4px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 26px;
  letter-spacing: 0;
  line-height: 32px;
  white-space: nowrap;
}

.pantalla-despegable .frame2 {
  display: inline-flex;
  flex-direction: column;
  height: 44px;
  width: 40px;
  align-items: center;
  position: absolute;
  background-color: transparent;
  top: 0;
  left: 0;
}

.pantalla-despegable .group-wrapper2 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.pantalla-despegable .group2 {
  position: relative;
  width: 26.5px;
  height: 36.05px;
  margin-right: -2px;
}

.pantalla-despegable .overlap-group-2-2 {
  position: relative;
  width: 24px;
  height: 36px;
}

.pantalla-despegable .shopping-cart2 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 12px;
  left: 0;
}

.pantalla-despegable .text-wrapper-2-2 {
  position: absolute;
  width: 21px;
  height: 18px;
  top: 0;
  left: 4px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #fcdd3b;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.pantalla-despegable .overlap-2-2 {
  position: absolute;
  width: 248px;
  height: 29px;
  top: 5px;
  left: 105px;
}

.pantalla-despegable .p2 {
  position: absolute;
  width: 233px;
  top: 4px;
  left: 0;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 17px;
  letter-spacing: 0;
  line-height: 32px;
  white-space: nowrap;
}

.pantalla-despegable .x-square2 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 224px;
}

.pantalla-despegable .line2 {
  position: absolute;
  width: 358px;
  top: 396px;
  left: 0;
  height: 1px;
  object-fit: cover;
}

.pantalla-despegable .text-wrapper-3-2 {
  position: absolute;
  top: 400px;
  left: 20px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #7a7a7a;
  font-size: 23px;
  letter-spacing: 0.69px;
  line-height: 18px;
  white-space: nowrap;
}

.pantalla-despegable .text-wrapper-4-2 {
  position: absolute;
  top: 400px;
  left: 208px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 23px;
  letter-spacing: 0.69px;
  line-height: 18px;
  white-space: nowrap;
}

.pantalla-despegable .div-wrapper-2 {
  display: flex;
  width: 158px;
  height: 35px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
  top: 440px;
  left: 19px;
  background-color: #14adb6;
  transition: all 0.2s ease-in;
}

.pantalla-despegable .text-wrapper-5-2 {
  position: relative;
  width: fit-content;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.pantalla-despegable .frame-2-2 {
  display: flex;
  width: 158px;
  height: 35px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
  top: 440px;
  left: 183px;
  background-color: #c0a414;
}

.pantalla-despegable .frame-3-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 11px;
  position: absolute;
  top: 100px;
  left: 10px;
  width: 350px;
  height: 280px;
}

.pantalla-despegable .frame-4-2 {
  display: inline-flex;
  align-items: flex-start;
  gap: 9px;
  position: relative;
  flex: 0 0 auto;
}

.pantalla-despegable .ljcxangrw-x2 {
  position: relative;
  width: 77px;
  height: 72px;
}

.pantalla-despegable .div-2-2 {
  position: relative;
  width: 198px;
  margin-top: -1px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 24px;
}

.pantalla-despegable .span2 {
  color: #000000;
}

.pantalla-despegable .text-wrapper-6-2 {
  color: #4d575b;
}

.pantalla-despegable .trash2 {
  position: relative;
  width: 24px;
  height: 24px;
}

.pantalla-despegable .img2 {
  position: relative;
  width: 318px;
  height: 1px;
  object-fit: cover;
}

.pantalla-despegable .ljcxangrw-x-2-2 {
  position: relative;
  width: 81px;
  height: 68px;
}
