.historial-de-compras {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.historial-de-compras .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1395px;
  height: 700px;
  position: relative;
}

.historial-de-compras .line {
  width: 1240px;
  height: 1px;
  top: 158px;
  left: 62px;
  position: absolute;
  object-fit: cover;
}

.historial-de-compras .img {
  width: 1240px;
  height: 1px;
  top: 230px;
  left: 62px;
  position: absolute;
  object-fit: cover;
}

.historial-de-compras .text-wrapper {
  position: absolute;
  height: 48px;
  top: 168px;
  left: 524px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.historial-de-compras .frame {
  display: flex;
  width: 1403px;
  height: 317px;
  align-items: center;
  justify-content: center;
  gap: 172px;
  padding: 97px 106px;
  position: absolute;
  top: 913px;
  left: -8px;
  background-color: #393939;
}

.historial-de-compras .frame-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
  margin-top: -84.5px;
  margin-bottom: -84.5px;
}

.historial-de-compras .frame-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 172px;
  position: relative;
  flex: 0 0 auto;
}

.historial-de-compras .frame-3 {
  position: relative;
  width: 1105px;
  height: 227px;
}

.historial-de-compras .frame-4 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  position: absolute;
  top: 0;
  left: 0;
}

.historial-de-compras .RESEARCH {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 18px;
  letter-spacing: 0.2px;
  line-height: 17px;
  white-space: nowrap;
}

.historial-de-compras .span {
  color: #00c9d6;
  letter-spacing: 0.04px;
}

.historial-de-compras .text-wrapper-2 {
  color: #ffffff;
  letter-spacing: 0.04px;
}

.historial-de-compras .stratus-RESEARCH {
  position: relative;
  width: fit-content;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
  letter-spacing: 0.2px;
  line-height: 17px;
}

.historial-de-compras .cont-ctenos {
  position: relative;
  width: fit-content;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 18px;
  letter-spacing: 0.2px;
  line-height: 17px;
}

.historial-de-compras .text-wrapper-3 {
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0.03px;
}

.historial-de-compras .frame-5 {
  position: relative;
  flex: 0 0 auto;
}

.historial-de-compras .frame-6 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 21px;
  position: absolute;
  top: 0;
  left: 406px;
}

.historial-de-compras .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #00c9d6;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.historial-de-compras .frame-7 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
}

.historial-de-compras .text-wrapper-5 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.historial-de-compras .text-wrapper-6 {
  position: relative;
  width: fit-content;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.historial-de-compras .frame-8 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 21px;
  position: absolute;
  top: 0;
  left: 688px;
}

.historial-de-compras .frame-9 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 21px;
  position: absolute;
  top: 0;
  left: 973px;
}

.historial-de-compras .frame-10 {
  display: inline-flex;
  align-items: flex-start;
  gap: 11px;
  position: relative;
  flex: 0 0 auto;
}

.historial-de-compras .img-wrapper {
  position: relative;
  width: 97px;
  height: 55px;
  background-color: #ffffff;
  border-radius: 5px;
}

.historial-de-compras .VISA {
  position: absolute;
  width: 90px;
  height: 27px;
  top: 13px;
  left: 2px;
  object-fit: cover;
}

.historial-de-compras .MASTER {
  position: absolute;
  width: 85px;
  height: 49px;
  top: 1px;
  left: 7px;
  object-fit: cover;
}

.historial-de-compras .image {
  position: absolute;
  width: 93px;
  height: 47px;
  top: 4px;
  left: 0;
}

.historial-de-compras .INSLALLMENTS {
  position: absolute;
  width: 84px;
  height: 59px;
  top: 0;
  left: 7px;
  object-fit: cover;
}

.historial-de-compras .overlap-group-wrapper {
  position: absolute;
  width: 1404px;
  height: 60px;
  top: 1230px;
  left: -12px;
}

.historial-de-compras .overlap-group {
  position: relative;
  width: 1581px;
  height: 59px;
  background-color: #161616;
}

.historial-de-compras .element-e {
  position: absolute;
  top: 20px;
  left: 209px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.2px;
  line-height: 17px;
  white-space: nowrap;
}

.historial-de-compras .frame-11 {
  position: absolute;
  width: 1400px;
  height: 68px;
  top: 0;
  left: -2px;
  background-color: #02474c;
}

.historial-de-compras .group {
  position: absolute;
  width: 195px;
  height: 36px;
  top: 14px;
  left: 17px;
}

.historial-de-compras .text-wrapper-7 {
  position: absolute;
  height: 23px;
  top: 8px;
  left: 83px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 19px;
  letter-spacing: 0;
  line-height: normal;
}

.historial-de-compras .vector {
  position: absolute;
  width: 66px;
  height: 36px;
  top: 0;
  left: 0;
}

.historial-de-compras .frame-12 {
  position: absolute;
  width: 534px;
  height: 39px;
  top: 14px;
  left: 332px;
  background-color: #ffffff;
  border-radius: 6px;
}

.historial-de-compras .buscar-producto {
  position: absolute;
  width: 90px;
  height: 16px;
  top: 8px;
  left: 174px;
  background-color: transparent;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #aba3a3;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
  border: 0;
  padding: 0;
}

.historial-de-compras .overlap-group-2 {
  position: absolute;
  width: 128px;
  height: 25px;
  top: 8px;
  left: 18px;
}

.historial-de-compras .text-wrapper-8 {
  position: absolute;
  height: 16px;
  top: 0;
  left: 0;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #aba3a3;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.historial-de-compras .chevron-down {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 1px;
  left: 104px;
}

.historial-de-compras .line-2 {
  width: 1px;
  height: 38px;
  top: 0;
  left: 156px;
  position: absolute;
  object-fit: cover;
}

.historial-de-compras .frame-13 {
  position: absolute;
  width: 43px;
  height: 38px;
  top: 0;
  left: 490px;
}

.historial-de-compras .div-wrapper {
  position: absolute;
  width: 134px;
  height: 29px;
  top: 12px;
  left: 907px;
}

.historial-de-compras .frame-14 {
  display: flex;
  width: 134px;
  align-items: center;
  gap: 4px;
  position: relative;
}

.historial-de-compras .frame-15 {
  display: flex;
  flex-direction: column;
  width: 131.5px;
  align-items: flex-start;
  gap: 4px;
  position: relative;
}

.historial-de-compras .frame-16 {
  display: flex;
  width: 132px;
  align-items: center;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
  margin-right: -0.5px;
}

.historial-de-compras .group-2 {
  position: relative;
  width: 16px;
  height: 8.08px;
}

.historial-de-compras .frame-17 {
  display: inline-flex;
  align-items: flex-start;
  gap: 5px;
  position: relative;
  flex: 0 0 auto;
  margin-right: -1px;
}

.historial-de-compras .text-wrapper-9 {
  position: relative;
  width: 113px;
  margin-top: -1px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 11px;
  letter-spacing: 0;
  line-height: normal;
}

.historial-de-compras .frame-18 {
  display: flex;
  width: 132px;
  align-items: center;
  gap: 9px;
  position: relative;
  flex: 0 0 auto;
  margin-right: -0.5px;
}

.historial-de-compras .group-3 {
  position: relative;
  width: 12px;
  height: 10px;
  margin-left: -0.5px;
}

.historial-de-compras .frame-19 {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.historial-de-compras .text-wrapper-10 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.historial-de-compras .frame-20 {
  display: inline-flex;
  flex-direction: column;
  height: 56px;
  align-items: flex-start;
  gap: 4px;
  padding: 3px;
  position: absolute;
  top: 6px;
  left: 1083px;
}

.historial-de-compras .ll-menos-wrapper {
  display: flex;
  width: 70px;
  align-items: flex-start;
  gap: 32px;
  position: relative;
  flex: 0 0 auto;
}

.historial-de-compras .ll-menos {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 9px;
  letter-spacing: 0;
  line-height: normal;
}

.historial-de-compras .frame-21 {
  display: flex;
  width: 94px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.historial-de-compras .headphones-svgrepo {
  position: relative;
  width: 19px;
  height: 19px;
}

.historial-de-compras .text-wrapper-11 {
  position: relative;
  width: 96px;
  margin-top: -1px;
  margin-right: -21px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.historial-de-compras .frame-22 {
  position: absolute;
  width: 120px;
  height: 44px;
  top: 12px;
  left: 1224px;
}

.historial-de-compras .user {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 10px;
  left: 0;
}

.historial-de-compras .frame-23 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  position: absolute;
  top: 0;
  left: 96px;
}

.historial-de-compras .frame-24 {
  display: inline-flex;
  flex-direction: column;
  height: 44px;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.historial-de-compras .group-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.historial-de-compras .group-4 {
  position: relative;
  width: 26.5px;
  height: 36.05px;
  margin-right: -2px;
}

.historial-de-compras .overlap-group-3 {
  position: relative;
  width: 24px;
  height: 36px;
}

.historial-de-compras .text-wrapper-12 {
  position: absolute;
  width: 21px;
  height: 18px;
  top: 0;
  left: 4px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #fcdd3b;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.historial-de-compras .shopping-cart {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 12px;
  left: 0;
}

.historial-de-compras .vector-2 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 9px;
  left: 49px;
}

.historial-de-compras .frame-25 {
  display: flex;
  width: 1400px;
  height: 49px;
  align-items: center;
  gap: 396px;
  padding: 51px;
  position: absolute;
  top: 68px;
  left: -2px;
  background-color: #0e3b3d;
  box-shadow: 0px 4px 9px #00000063;
}

.historial-de-compras .navbar {
  position: relative;
  width: 720px;
  height: 41px;
  margin-top: -47px;
  margin-bottom: -47px;
}

.historial-de-compras .frame-26 {
  position: absolute;
  width: 179px;
  height: 31px;
  top: 5px;
  left: -42px;
  border-radius: 8px;
}

.historial-de-compras .group-5 {
  position: absolute;
  width: 13px;
  height: 12px;
  top: 8px;
  left: 11px;
}

.historial-de-compras .rectangle {
  top: 0;
  position: absolute;
  width: 13px;
  height: 2px;
  left: 0;
  background-color: #ffffff;
}

.historial-de-compras .rectangle-2 {
  top: 5px;
  position: absolute;
  width: 13px;
  height: 2px;
  left: 0;
  background-color: #ffffff;
}

.historial-de-compras .rectangle-3 {
  top: 11px;
  position: absolute;
  width: 13px;
  height: 2px;
  left: 0;
  background-color: #ffffff;
}

.historial-de-compras .text-wrapper-13 {
  position: absolute;
  width: 196px;
  top: 4px;
  left: 32px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.historial-de-compras .text-wrapper-14 {
  position: absolute;
  height: 16px;
  top: 9px;
  left: 220px;
  color: #ffffff;
  font-size: 13px;
  line-height: normal;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
}

.historial-de-compras .text-wrapper-15 {
  position: absolute;
  height: 16px;
  top: 9px;
  left: 327px;
  color: #ffffff;
  font-size: 13px;
  line-height: normal;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
}

.historial-de-compras .text-wrapper-16 {
  position: absolute;
  height: 16px;
  top: 9px;
  left: 434px;
  color: #ffffff;
  font-size: 13px;
  line-height: normal;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
}

.historial-de-compras .text-wrapper-17 {
  position: absolute;
  height: 16px;
  top: 9px;
  left: 547px;
  color: #ffffff;
  font-size: 13px;
  line-height: normal;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
}

.historial-de-compras .frame-27 {
  position: relative;
  flex: 0 0 auto;
  margin-top: -37.5px;
  margin-bottom: -37.5px;
}

.historial-de-compras .historial {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 283px;
  left: 73px;
  background-color: var(--gray-00);
  border-radius: 4px;
  border: 1px solid;
  border-color: var(--gray-100);
}

.historial-de-compras .navbar-2 {
  display: inline-flex;
  align-items: center;
  gap: 24px;
  padding: 10px 24px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--gray-50);
  border: 1px solid;
  border-color: var(--gray-100);
}

.historial-de-compras .videojuegos {
  position: relative;
  width: 488px;
  margin-top: -1px;
  color: var(--gray-700);
  font-size: 12px;
  line-height: 18px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
}

.historial-de-compras .text-wrapper-18 {
  position: relative;
  width: 200px;
  margin-top: -1px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: var(--gray-700);
  font-size: 12px;
  letter-spacing: 0;
  line-height: 18px;
}

.historial-de-compras .tipo-de-pago {
  position: relative;
  width: 221px;
  margin-top: -1px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: var(--gray-700);
  font-size: 12px;
  letter-spacing: 0;
  line-height: 18px;
}

.historial-de-compras .products {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding: 24px;
  position: relative;
  flex: 0 0 auto;
}

.historial-de-compras .product {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.historial-de-compras .product-2 {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  padding: 0px 72px 0px 0px;
  position: relative;
  flex: 0 0 auto;
}

.historial-de-compras .p {
  position: relative;
  width: 419px;
  margin-top: -1px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: var(--gray-700);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
}

.historial-de-compras .frame-28 {
  position: relative;
  width: 200px;
  height: 20px;
}

.historial-de-compras .text-wrapper-19 {
  position: absolute;
  top: -1px;
  left: 0;
  font-family: var(--body-small-500-font-family);
  font-weight: var(--body-small-500-font-weight);
  color: var(--gray-900);
  font-size: var(--body-small-500-font-size);
  letter-spacing: var(--body-small-500-letter-spacing);
  line-height: var(--body-small-500-line-height);
  white-space: nowrap;
  font-style: var(--body-small-500-font-style);
}

.historial-de-compras .text-wrapper-20 {
  position: relative;
  width: 200px;
  font-family: var(--body-small-600-font-family);
  font-weight: var(--body-small-600-font-weight);
  color: #000000;
  font-size: var(--body-small-600-font-size);
  letter-spacing: var(--body-small-600-letter-spacing);
  line-height: var(--body-small-600-line-height);
  font-style: var(--body-small-600-font-style);
}

.historial-de-compras .text-wrapper-21 {
  position: relative;
  width: 200px;
  margin-top: -1px;
  font-family: var(--body-small-500-font-family);
  font-weight: var(--body-small-500-font-weight);
  color: var(--gray-900);
  font-size: var(--body-small-500-font-size);
  letter-spacing: var(--body-small-500-letter-spacing);
  line-height: var(--body-small-500-line-height);
  font-style: var(--body-small-500-font-style);
}

.historial-de-compras .text-wrapper-22 {
  position: relative;
  width: 200px;
  margin-top: -1px;
  font-family: var(--body-small-600-font-family);
  font-weight: var(--body-small-600-font-weight);
  color: #000000;
  font-size: var(--body-small-600-font-size);
  letter-spacing: var(--body-small-600-letter-spacing);
  line-height: var(--body-small-600-line-height);
  font-style: var(--body-small-600-font-style);
}
