.venta-cdigo {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.venta-cdigo .div {
  background-color: #ffffff;
  width: 1400px;
  height: 1024px;
  position: relative;
}

.venta-cdigo .main {
  display: flex;
  flex-direction: column;
  width: 944px;
  height: 553px;
  align-items: center;
  justify-content: center;
  gap: 32px;
  padding: 40px;
  position: absolute;
  top: 235px;
  left: 257px;
  background-color: #e8e8e8;
  border-radius: 40px;
}

.venta-cdigo .text-wrapper {
  position: relative;
  align-self: stretch;
  height: 40px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: 32px;
}

.venta-cdigo .shopify {
  position: relative;
  width: 100px;
  height: 100px;
}

.venta-cdigo .TITULO {
  display: flex;
  flex-direction: column;
  width: 355px;
  align-items: flex-start;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
}

.venta-cdigo .label {
  display: flex;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.venta-cdigo .label-2 {
  position: relative;
  flex: 1;
  margin-top: -1px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 22px;
}

.venta-cdigo .container {
  padding: 8px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid;
  border-color: #000000;
  flex: 1;
  flex-grow: 1;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #7a7a7a;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.venta-cdigo .frame {
  display: flex;
  width: 85px;
  height: 35px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  background-color: #14adb6;
  transition: all 0.2s ease;
}

.venta-cdigo .text-wrapper-2 {
  position: relative;
  width: fit-content;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  border: none;
  background-color: transparent;
  cursor: pointer; /* Cambia el cursor al pasar por encima */
}

.venta-cdigo .para-qu-sirve-el {
  position: relative;
  flex: 0 0 auto;
}

.venta-cdigo .frame-2 {
  position: absolute;
  width: 1400px;
  height: 68px;
  top: 0;
  left: 0;
  background-color: #02474c;
}

.venta-cdigo .group {
  position: absolute;
  width: 195px;
  height: 36px;
  top: 14px;
  left: 17px;
}

.venta-cdigo .text-wrapper-3 {
  position: absolute;
  height: 23px;
  top: 8px;
  left: 83px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 19px;
  letter-spacing: 0;
  line-height: normal;
}

.venta-cdigo .vector {
  position: absolute;
  width: 66px;
  height: 36px;
  top: 0;
  left: 0;
}

.venta-cdigo .frame-3 {
  position: absolute;
  width: 534px;
  height: 39px;
  top: 14px;
  left: 332px;
  background-color: #ffffff;
  border-radius: 6px;
}

.venta-cdigo .text-wrapper-4 {
  position: absolute;
  height: 16px;
  top: 8px;
  left: 174px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #aba3a3;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
  border: none; /* Elimina el borde */
  outline: none; /* Elimina el contorno del enfoque */
}

.venta-cdigo .overlap-group {
  position: absolute;
  width: 128px;
  height: 25px;
  top: 8px;
  left: 18px;
}

.venta-cdigo .text-wrapper-5 {
  position: absolute;
  height: 16px;
  top: 0;
  left: 0;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #aba3a3;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.venta-cdigo .chevron-down {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 1px;
  left: 104px;
}

.venta-cdigo .line {
  position: absolute;
  width: 1px;
  height: 38px;
  top: 0;
  left: 156px;
  object-fit: cover;
}

.venta-cdigo .img {
  position: absolute;
  width: 43px;
  height: 38px;
  top: 0;
  left: 490px;
}

.venta-cdigo .frame-wrapper {
  position: absolute;
  width: 134px;
  height: 29px;
  top: 12px;
  left: 907px;
}

.venta-cdigo .div-wrapper {
  display: flex;
  width: 134px;
  align-items: center;
  gap: 4px;
  position: relative;
}

.venta-cdigo .frame-4 {
  display: flex;
  flex-direction: column;
  width: 131.5px;
  align-items: flex-start;
  gap: 4px;
  position: relative;
}

.venta-cdigo .frame-5 {
  display: flex;
  width: 132px;
  align-items: center;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
  margin-right: -0.5px;
}

.venta-cdigo .group-2 {
  position: relative;
  width: 16px;
  height: 8.08px;
}

.venta-cdigo .frame-6 {
  display: inline-flex;
  align-items: flex-start;
  gap: 5px;
  position: relative;
  flex: 0 0 auto;
  margin-right: -1px;
}

.venta-cdigo .text-wrapper-6 {
  position: relative;
  width: 113px;
  margin-top: -1px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 11px;
  letter-spacing: 0;
  line-height: normal;
}

.venta-cdigo .frame-7 {
  display: flex;
  width: 132px;
  align-items: center;
  gap: 9px;
  position: relative;
  flex: 0 0 auto;
  margin-right: -0.5px;
}

.venta-cdigo .group-3 {
  position: relative;
  width: 12px;
  height: 10px;
  margin-left: -0.5px;
}

.venta-cdigo .frame-8 {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.venta-cdigo .text-wrapper-7 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.venta-cdigo .frame-9 {
  display: inline-flex;
  flex-direction: column;
  height: 56px;
  align-items: flex-start;
  gap: 4px;
  padding: 3px;
  position: absolute;
  top: 6px;
  left: 1083px;
}

.venta-cdigo .ll-menos-wrapper {
  display: flex;
  width: 70px;
  align-items: flex-start;
  gap: 32px;
  position: relative;
  flex: 0 0 auto;
}

.venta-cdigo .ll-menos {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 9px;
  letter-spacing: 0;
  line-height: normal;
}

.venta-cdigo .frame-10 {
  display: flex;
  width: 94px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.venta-cdigo .headphones-svgrepo {
  position: relative;
  width: 19px;
  height: 19px;
}

.venta-cdigo .text-wrapper-8 {
  position: relative;
  width: 96px;
  margin-top: -1px;
  margin-right: -21px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.venta-cdigo .frame-11 {
  position: absolute;
  width: 120px;
  height: 44px;
  top: 12px;
  left: 1224px;
}

.venta-cdigo .user {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 10px;
  left: 0;
}

.venta-cdigo .frame-12 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  position: absolute;
  top: 0;
  left: 96px;
}

.venta-cdigo .frame-13 {
  display: inline-flex;
  flex-direction: column;
  height: 44px;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.venta-cdigo .group-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.venta-cdigo .overlap-group-wrapper {
  position: relative;
  width: 26.5px;
  height: 36.05px;
  margin-right: -2px;
}

.venta-cdigo .overlap-group-2 {
  position: relative;
  width: 24px;
  height: 36px;
}

.venta-cdigo .text-wrapper-9 {
  position: absolute;
  width: 21px;
  height: 18px;
  top: 0;
  left: 4px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #fcdd3b;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.venta-cdigo .shopping-cart {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 12px;
  left: 0;
}

.venta-cdigo .vector-2 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 9px;
  left: 49px;
}

.venta-cdigo .frame-14 {
  display: flex;
  width: 1400px;
  height: 49px;
  align-items: center;
  gap: 396px;
  padding: 51px;
  position: absolute;
  top: 68px;
  left: 0;
  background-color: #0e3b3d;
  box-shadow: 0px 4px 9px #00000063;
}

.venta-cdigo .navbar {
  position: relative;
  width: 720px;
  height: 41px;
  margin-top: -47px;
  margin-bottom: -47px;
}

.venta-cdigo .frame-15 {
  position: absolute;
  width: 179px;
  height: 31px;
  top: 5px;
  left: -42px;
  border-radius: 8px;
}

.venta-cdigo .group-4 {
  position: absolute;
  width: 13px;
  height: 12px;
  top: 8px;
  left: 11px;
}

.venta-cdigo .rectangle {
  top: 0;
  position: absolute;
  width: 13px;
  height: 2px;
  left: 0;
  background-color: #ffffff;
}

.venta-cdigo .rectangle-2 {
  top: 5px;
  position: absolute;
  width: 13px;
  height: 2px;
  left: 0;
  background-color: #ffffff;
}

.venta-cdigo .rectangle-3 {
  top: 11px;
  position: absolute;
  width: 13px;
  height: 2px;
  left: 0;
  background-color: #ffffff;
}

.venta-cdigo .text-wrapper-10 {
  position: absolute;
  width: 196px;
  top: 4px;
  left: 32px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.venta-cdigo .text-wrapper-11 {
  left: 220px;
  position: absolute;
  height: 16px;
  top: 9px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.venta-cdigo .text-wrapper-12 {
  left: 327px;
  position: absolute;
  height: 16px;
  top: 9px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.venta-cdigo .text-wrapper-13 {
  left: 434px;
  position: absolute;
  height: 16px;
  top: 9px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.venta-cdigo .text-wrapper-14 {
  left: 547px;
  position: absolute;
  height: 16px;
  top: 9px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.venta-cdigo .frame-16 {
  position: relative;
  flex: 0 0 auto;
  margin-top: -37.5px;
  margin-bottom: -37.5px;
}
