:root {
  --background: rgba(255, 255, 255, 1);
  --text: rgba(10, 13, 19, 1);
  --text-2: rgba(157, 163, 161, 1);
  --empty: rgba(57, 229, 129, 1);
  --hover: rgba(54, 217, 122, 1);
  --paragraph-large-font-family: "Basic", Helvetica;
  --paragraph-large-font-weight: 400;
  --paragraph-large-font-size: 18px;
  --paragraph-large-letter-spacing: 0px;
  --paragraph-large-line-height: normal;
  --paragraph-large-font-style: normal;
}
