.compra-exitosa {
  background-color: #f3f3f3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.compra-exitosa .order-confirmation-wrapper {
  background-color: #f3f3f3;
  width: 1440px;
  height: 1024px;
}

.compra-exitosa .order-confirmation {
  position: relative;
  width: 520px;
  height: 464px;
  top: 280px;
  left: 460px;
}

.compra-exitosa .overlap-group {
  position: absolute;
  width: 493px;
  height: 300px;
  top: -10px;
  left: 15px;
}

.compra-exitosa .rectangle {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 0;
  left: 97px;
  object-fit: cover;
}

.compra-exitosa .text-wrapper {
  position: absolute;
  top: 9px;
  left: 50px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 12px;
  white-space: nowrap;
}

.compra-exitosa .div {
  position: absolute;
  top: 263px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: var(--text);
  font-size: 30px;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.compra-exitosa .thumbs-up-regular {
  position: absolute;
  width: 213px;
  height: 214px;
  top: 36px;
  left: 129px;
}

.compra-exitosa .generate-receipt {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  padding: 17.5px 10px;
  position: absolute;
  top: 393px;
  left: 191px;
  border-radius: 4px;
}

.compra-exitosa .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: var(--text-2);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 12px;
  white-space: nowrap;
}

.compra-exitosa .track-order {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px 213.5px;
  position: absolute;
  top: 341px;
  left: 11px;
  background-color: #32c770;
  border-radius: 4px;
}

.compra-exitosa .track-order-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: white;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 12px;
  white-space: nowrap;
  border: none; /* Elimina el borde */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  background: none; /* Elimina el fondo */
}
