.VENTA-datos {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.VENTA-datos .div {
  background-color: #ffffff;
  width: 1400px;
  height: 1024px;
  position: relative;
}

.VENTA-datos .main {
  display: flex;
  flex-direction: column;
  width: 944px;
  height: 775px;
  align-items: center;
  justify-content: center;
  gap: 32px;
  padding: 40px;
  position: absolute;
  top: 172px;
  left: 257px;
  background-color: #e8e8e8;
  border-radius: 40px;
}

.VENTA-datos .text-wrapper {
  position: relative;
  align-self: stretch;
  height: 40px;
  margin-top: -1px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: 32px;
}

.VENTA-datos .TITULO {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
}

.VENTA-datos .label {
  display: flex;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.VENTA-datos .label-2 {
  position: relative;
  flex: 1;
  margin-top: -1px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 22px;
}

.VENTA-datos .text-wrapper-4 {
  position: absolute;
  height: 16px;
  top: 8px;
  left: 174px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #aba3a3;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
  border: none; /* Elimina el borde */
  outline: none; /* Elimina el contorno del enfoque */
}


.VENTA-datos .container {
  padding: 8px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  margin-bottom: -4.4px;
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid;
  border-color: #000000;
  flex: 1;
  flex-grow: 1;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #7a7a7a;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.VENTA-datos .div-wrapper {
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
}

.VENTA-datos .overlap-group {
  position: relative;
  width: 864px;
  height: 70px;
}

.VENTA-datos .CONSOLA {
  display: flex;
  flex-direction: column;
  width: 864px;
  height: 70px;
  align-items: flex-start;
  gap: 4px;
  position: absolute;
  top: 0;
  left: 0;
}

.VENTA-datos .container-2 {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  padding: 8px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid;
  border-color: #000000;
}

.VENTA-datos .text {
  position: relative;
  flex: 1;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #7a7a7a;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.CONSOLA .text {
  border: none;
  background-color: #fff; /* Ajusta según sea necesario */
  appearance: none; /* Estilo del menú desplegable */
  outline: none;
}

.VENTA-datos .ep-arrow-up-bold {
  position: absolute;
  width: 30px;
  height: 34px;
  top: 29px;
  left: 818px;
}

.VENTA-datos .CONSOLA-2 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 864px;
  align-items: flex-start;
  gap: 4px;
}

.VENTA-datos .input {
  padding: 8px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid;
  border-color: #000000;
  flex: 1;
  flex-grow: 1;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #7a7a7a;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.VENTA-datos .imagen {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 88px;
}

.VENTA-datos .overlap {
  position: absolute;
  width: 864px;
  height: 22px;
  top: 0;
  left: 0;
}

.VENTA-datos .CONSOLA-3 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 864px;
  align-items: flex-start;
  gap: 4px;
}

.VENTA-datos .vector {
  position: absolute;
  width: 21px;
  height: 19px;
  top: 1px;
  left: 134px;
}

.VENTA-datos .frame {
  display: flex;
  width: 164px;
  height: 23px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
  top: 26px;
  left: 0;
  background-color: #7a7a7a;
  border: none;
}

.VENTA-datos .text-wrapper-2 {
  position: relative;
  width: fit-content;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.VENTA-datos .text-wrapper-3 {
  position: absolute;
  top: 27px;
  left: 180px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 11px;
  letter-spacing: 0;
  line-height: 22px;
  white-space: nowrap;
}

.VENTA-datos .frame-2 {
  display: flex;
  width: 85px;
  height: 35px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  background-color: #14adb6;
  transition: all 0.2s ease;
}

.VENTA-datos .frame-3 {
  position: absolute;
  width: 1400px;
  height: 68px;
  top: 0;
  left: 0;
  background-color: #02474c;
}

.VENTA-datos .group {
  position: absolute;
  width: 195px;
  height: 36px;
  top: 14px;
  left: 17px;
}

.VENTA-datos .text-wrapper-5 {
  position: absolute;
  height: 23px;
  top: 8px;
  left: 83px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 19px;
  letter-spacing: 0;
  line-height: normal;
}

.VENTA-datos .img {
  position: absolute;
  width: 66px;
  height: 36px;
  top: 0;
  left: 0;
}

.VENTA-datos .frame-4 {
  position: absolute;
  width: 534px;
  height: 39px;
  top: 14px;
  left: 332px;
  background-color: #ffffff;
  border-radius: 6px;
}

.VENTA-datos .text-wrapper-4 {
  position: absolute;
  width: 90px;
  height: 16px;
  top: 8px;
  left: 174px;
  background-color: transparent;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #aba3a3;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
  
  padding: 0;
  border: none; /* Elimina el borde */
  outline: none; /* Elimina el contorno del enfoque */
}

.VENTA-datos .text-wrapper-44{
  background-color: transparent;
  font-family: "Actor", Helvetica;
  color: white;
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  border: 0;
  padding: 0;
}

.VENTA-datos .overlap-group-2 {
  position: absolute;
  width: 128px;
  height: 25px;
  top: 8px;
  left: 18px;
}

.VENTA-datos .text-wrapper-6 {
  position: absolute;
  height: 16px;
  top: 0;
  left: 0;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #aba3a3;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.VENTA-datos .chevron-down {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 1px;
  left: 104px;
}

.VENTA-datos .line {
  position: absolute;
  width: 1px;
  height: 38px;
  top: 0;
  left: 156px;
  object-fit: cover;
}

.VENTA-datos .frame-5 {
  position: absolute;
  width: 43px;
  height: 38px;
  top: 0;
  left: 490px;
}

.VENTA-datos .frame-wrapper {
  position: absolute;
  width: 134px;
  height: 29px;
  top: 12px;
  left: 907px;
}

.VENTA-datos .frame-6 {
  display: flex;
  width: 134px;
  align-items: center;
  gap: 4px;
  position: relative;
}

.VENTA-datos .frame-7 {
  display: flex;
  flex-direction: column;
  width: 131.5px;
  align-items: flex-start;
  gap: 4px;
  position: relative;
}

.VENTA-datos .frame-8 {
  display: flex;
  width: 132px;
  align-items: center;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
  margin-right: -0.5px;
}

.VENTA-datos .group-2 {
  position: relative;
  width: 16px;
  height: 8.08px;
}

.VENTA-datos .frame-9 {
  display: inline-flex;
  align-items: flex-start;
  gap: 5px;
  position: relative;
  flex: 0 0 auto;
  margin-right: -1px;
}

.VENTA-datos .text-wrapper-7 {
  position: relative;
  width: 113px;
  margin-top: -1px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 11px;
  letter-spacing: 0;
  line-height: normal;
}

.VENTA-datos .frame-10 {
  display: flex;
  width: 132px;
  align-items: center;
  gap: 9px;
  position: relative;
  flex: 0 0 auto;
  margin-right: -0.5px;
}

.VENTA-datos .group-3 {
  position: relative;
  width: 12px;
  height: 10px;
  margin-left: -0.5px;
}

.VENTA-datos .frame-11 {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.VENTA-datos .text-wrapper-8 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.VENTA-datos .frame-12 {
  display: inline-flex;
  flex-direction: column;
  height: 56px;
  align-items: flex-start;
  gap: 4px;
  padding: 3px;
  position: absolute;
  top: 6px;
  left: 1083px;
}

.VENTA-datos .ll-menos-wrapper {
  display: flex;
  width: 70px;
  align-items: flex-start;
  gap: 32px;
  position: relative;
  flex: 0 0 auto;
}

.VENTA-datos .ll-menos {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 9px;
  letter-spacing: 0;
  line-height: normal;
}

.VENTA-datos .frame-13 {
  display: flex;
  width: 94px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.VENTA-datos .headphones-svgrepo {
  position: relative;
  width: 19px;
  height: 19px;
}

.VENTA-datos .text-wrapper-9 {
  position: relative;
  width: 96px;
  margin-top: -1px;
  margin-right: -21px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.VENTA-datos .frame-14 {
  position: absolute;
  width: 120px;
  height: 44px;
  top: 12px;
  left: 1224px;
}

.VENTA-datos .user {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 10px;
  left: 0;
}

.VENTA-datos .frame-15 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  position: absolute;
  top: 0;
  left: 96px;
}

.VENTA-datos .frame-16 {
  display: inline-flex;
  flex-direction: column;
  height: 44px;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.VENTA-datos .group-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.VENTA-datos .overlap-group-wrapper {
  position: relative;
  width: 26.5px;
  height: 36.05px;
  margin-right: -2px;
}

.VENTA-datos .overlap-group-3 {
  position: relative;
  width: 24px;
  height: 36px;
}

.VENTA-datos .text-wrapper-10 {
  position: absolute;
  width: 21px;
  height: 18px;
  top: 0;
  left: 4px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #fcdd3b;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.VENTA-datos .shopping-cart {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 12px;
  left: 0;
}

.VENTA-datos .vector-2 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 9px;
  left: 49px;
}

.VENTA-datos .frame-17 {
  display: flex;
  width: 1400px;
  height: 49px;
  align-items: center;
  gap: 396px;
  padding: 51px;
  position: absolute;
  top: 68px;
  left: 0;
  background-color: #0e3b3d;
  box-shadow: 0px 4px 9px #00000063;
}

.VENTA-datos .navbar {
  position: relative;
  width: 720px;
  height: 41px;
  margin-top: -47px;
  margin-bottom: -47px;
}

.VENTA-datos .frame-18 {
  position: absolute;
  width: 179px;
  height: 31px;
  top: 5px;
  left: -42px;
  border-radius: 8px;
}

.VENTA-datos .group-4 {
  position: absolute;
  width: 13px;
  height: 12px;
  top: 8px;
  left: 11px;
}

.VENTA-datos .rectangle {
  top: 0;
  position: absolute;
  width: 13px;
  height: 2px;
  left: 0;
  background-color: #ffffff;
}

.VENTA-datos .rectangle-2 {
  top: 5px;
  position: absolute;
  width: 13px;
  height: 2px;
  left: 0;
  background-color: #ffffff;
}

.VENTA-datos .rectangle-3 {
  top: 11px;
  position: absolute;
  width: 13px;
  height: 2px;
  left: 0;
  background-color: #ffffff;
}

.VENTA-datos .text-wrapper-11 {
  position: absolute;
  width: 196px;
  top: 4px;
  left: 32px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.VENTA-datos .text-wrapper-12 {
  left: 220px;
  position: absolute;
  height: 16px;
  top: 9px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.VENTA-datos .text-wrapper-13 {
  left: 327px;
  position: absolute;
  height: 16px;
  top: 9px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.VENTA-datos .text-wrapper-14 {
  left: 434px;
  position: absolute;
  height: 16px;
  top: 9px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.VENTA-datos .text-wrapper-15 {
  left: 547px;
  position: absolute;
  height: 16px;
  top: 9px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.VENTA-datos .frame-19 {
  position: relative;
  flex: 0 0 auto;
  margin-top: -37.5px;
  margin-bottom: -37.5px;
}
