.header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff; /* O el color de fondo de tu header */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Opcional: para agregar una sombra */
}

/* Asegúrate de que el contenido debajo del header no quede oculto */


.header .inicio {
    background-color: #f6f6f6;
    justify-content: center;
    width: 100%;
    height: 104PX;
  }

  .header-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 998;
    display: none;
  }
  
  .header-hover {
    position: relative;
    z-index: 999;
  }

  
  .navbar .nav-link:hover ~ .header-overlay {
    display: block;
  }
  
  .inicio .div {
    background-color: #f6f6f6;
    overflow: hidden;
    width: 100%;
    height: 1701px;
    position: relative;
  } 
  
  .inicio .frame {
    background-color: #f6f6f6;
    overflow: hidden;
    width: 100%;
    position: relative;
  }  

  .inicio .frame-13 {
    position: fixed;
    z-index: 2000; /* Asegúrate de que el z-index sea lo suficientemente alto */
    width: 100%;
    height: 68px;
    top: 0;
    left: 0;
  }

  .inicio .frame-31
  {
    z-index: 1000; /* Asegúrate de que el z-index sea lo suficientemente alto */
    position: fixed;
    width: 100%;
    height: 55px;
    top:65px;
    background-color: #0E3B3E;
  }

  .inicio .navbar{
    position: fixed;
    /*top: 122px;*/
    left: 100px;
    margin:0;
    padding: 0;
  }

  .inicio .frame-30{
    position: fixed;
    top: 122px;
    left: 1300px;
  }


  
  .inicio .group-3 {
    position: absolute;
    width: 195px;
    height: 36px;
    top: 14px;
    left: 50px;
  }
  
  .inicio .text-wrapper-8 {
    position: absolute;
    height: 23px;
    top: 8px;
    left: 83px;
    font-family: "Actor", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 19px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .inicio .vector {
    position: absolute;
    width: 66px;
    height: 36px;
    top: 0;
    left: 0;
  }
  
  .inicio .frame-14 {
    position: absolute;
    width: 534px;
    height: 39px;
    top: 14px;
    left: 360px;
    background-color: #ffffff;
    border-radius: 6px;
  }
  
  .inicio .buscar-producto {
    position: absolute;
    width: 300px;
    height: 20px;
    top: 8px;
    left: 174px;
    background-color: transparent;
    font-family: "Actor", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    border: 0;
    padding: 0;
  }
  
  .inicio .overlap-group-2 {
    position: absolute;
    width: 130px;
    height: 35px;
    top: 8px;
    left: 18px;
  }
  
  .inicio .text-wrapper-9 {
    position: absolute;
    height: 23px;
    top: 0;
    left: -10px;
    font-family: "Actor", Helvetica;
    font-weight: 400;
    color: #aba3a3;
    font-size: 13px;
    letter-spacing: 0;
    line-height: normal;
    border: none;
    outline: none;
  }
  
  .inicio .chevron-down {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 1px;
    left: 104px;
  }
  
  .inicio .line-5 {
    position: absolute;
    width: 1px;
    height: 38px;
    top: 0;
    left: 156px;
    object-fit: cover;
  }
  
  .inicio .frame-15 {
    position: absolute;
    width: 43px;
    height: 38px;
    top: 0;
    left: 490px;
  }
  
  .inicio .group-4 {
    position: absolute;
    width: 134px;
    height: 29px;
    top: 12px;
    left: 907px;
  }
  
  .inicio .frame-16 {
    width: 134px;
    align-items: center;
    gap: 4px;
    position: relative;
  }
  
  .inicio .frame-17 {
    width: 131.5px;

    gap: 4px;
    position: relative;
    left: 50px;
  }
  
  .inicio .frame-18 {
    width: 132px;
    align-items: center;
    gap: 4px;
    position: relative;

    margin-right: -0.5px;
  }
  
  .inicio .group-5 {
    position: relative;
    width: 16px;
    height: 8.08px;
  }
  
  .inicio .frame-19 {
    gap: 5px;
    position: relative;
    flex: 0 0 auto;
    margin-right: -1px;
  }
  
  .inicio .text-wrapper-10 {
    position: relative;
    width: 113px;
    margin-top: -1px;
    font-family: "Actor", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 11px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .inicio .frame-20 {

    width: 132px;
    align-items: center;
    gap: 9px;
    position: relative;

    margin-right: -0.5px;
  }
  
  .inicio .group-6 {
    position: relative;
    width: 12px;
    height: 10px;
    margin-left: -0.5px;
  }
  
  .inicio .frame-21 {
   
    align-items: center;
    gap: 16px;
    position: relative;
  }
  
  .inicio .text-wrapper-11 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Actor", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 10px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .inicio .frame-22 {

    height: 56px;
    gap: 4px;
    padding: 3px;
    position: absolute;
    top: 6px;
    left: 1120px;
  }
  
  .inicio .ll-menos-wrapper {
 
    width: 70px;
    gap: 32px;
    position: relative;
  }
  
  .inicio .ll-menos {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Actor", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 9px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .inicio .frame-23 {
 
    width: 94px;
    position: relative;
  }
  
  .inicio .headphones-svgrepo {
    position: relative;
    width: 19px;
    height: 19px;
  }

  .inicio .text-wrapper-15 {
    left: 220px;
    position: absolute;
    height: 55px;
    top:0px;
    width: 80px;
    font-family: "Actor", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 13px;
    letter-spacing: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0E3B3E;
    border-radius: 20px 20px 0 0; 
  }
  .inicio .text-wrapper-16 {
    left: 327px;
    position: absolute;
    height: 55px;
    top:0px;
    width: 80px;
    font-family: "Actor", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 13px;
    letter-spacing: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0E3B3E;
    border-radius: 20px 20px 0 0; 
  }
  
  .inicio .text-wrapper-17 {
    left: 434px;
    position: absolute;
    height: 55px;
    top:0px;
    width: 80px;
    font-family: "Actor", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 13px;
    letter-spacing: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0E3B3E;
    border-radius: 20px 20px 0 0; 
  }
  
  .inicio .text-wrapper-18 {
    left: 547px;
    position: absolute;
    height: 55px;
    top:0px;
    width: 80px;
    font-family: "Actor", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 13px;
    letter-spacing: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0E3B3E;
    border-radius: 20px 20px 0 0; 
  }

  
  .inicio .text-wrapper-12 {
    position: relative;
    width: 96px;
    margin-top: -1px;
    margin-right: -21px;
    font-family: "Actor", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 13px;
    text-align: right;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .inicio .frame-24 {
    position: absolute;
    width: 120px;
    height: 44px;
    top: 12px;
    left: 1300px;
  }
  
  .inicio .user {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 10px;
    left: 0;
  }
  
  .inicio .frame-25 {

    align-items: center;
    justify-content: center;
    gap: 2px;
    position: absolute;
    top: 0;
    left: 96px;
  }
  
  .inicio .frame-26 {
    height: 44px;
    align-items: center;
    position: relative;
  }
  
  .inicio .frame-27 {
    align-items: center;
    position: relative;
  }
  
  .inicio .group-7 {
    position: relative;
    width: 26.5px;
    height: 36.05px;
    margin-right: -2px;
  }
  
  .inicio .overlap-group-3 {
    position: relative;
    width: 24px;
    height: 36px;
  }
  
  .inicio .text-wrapper-13 {
    position: absolute;
    width: 21px;
    height: 18px;
    top: 0;
    left: 4px;
    font-family: "Actor", Helvetica;
    font-weight: 400;
    color: #fcdd3b;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .inicio .shopping-cart {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 12px;
    left: 0;
  }
  
  /* Estilos para el desplegable */
.pago-desplegable {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px; /* Ancho deseado del desplegable */
  height: 100%; /* Altura necesaria */
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1100; /* Asegúrate de que esté por encima del header */
  transform: translateX(100%);
  transition: transform 0.3s ease-out; /* Animación de transición */
}

/* Estilos cuando el desplegable está visible */
.pago-desplegable.visible {
  transform: translateX(0);
}

  
  