.iniciar-sesin {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.iniciar-sesin .group-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(./img/gmaecycle-1.png);
  background-size: cover;
  background-position: center;
  opacity: 90%;
  background-color: black;
}

.iniciar-sesin .group {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.iniciar-sesin .frame {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.iniciar-sesin .overlap {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}


.iniciar-sesin .rectangle {
  position: absolute;
  width: 438px;
  height: 421px;
  top: 180px;
  background-color: #ffffff;
  border-radius: 28px;
  left: 50%;
  transform: translateX(-50%);
}

.iniciar-sesin .div {
  position: absolute;
  width: 388px;
  height: 371px;
  top: 215px;
  left: 50%;
  transform: translateX(-50%);
}

.iniciar-sesin .text-wrapper {
  position: absolute;
  width: 131px;
  top: 0;
  left: 14px;
  font-family: "Roboto", Helvetica;
  font-weight: 700;
  color: #888f94;
  font-size: 17px;
  letter-spacing: 0;
  line-height: normal;
}

.iniciar-sesin .text-wrapper-2 {
  position: absolute;
  top: 0;
  left: 294px;
  font-family: "Roboto", Helvetica;
  font-weight: 700;
  color: #888f94;
  font-size: 17px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.iniciar-sesin .frame-2 {
  position: absolute;
  width: 350px;
  height: 45px;
  top: 60px;
  left: 14px;
  background-color: #ffffff;
  border-radius: 9px;
  box-shadow: 0px 0px 18px #00000040;
}

.iniciar-sesin .correo-electrnico {
  position: absolute;
  width: 280px;
  height: 18px;
  top: 13px;
  left: 54px;
  background-color: transparent;
  font-family: "Roboto", Helvetica;
  font-weight: 300;
  color: #a5a5a5;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  border: none;
  outline: none;
  padding: 0;
}

.iniciar-sesin .mail {
  position: absolute;
  width: 25px;
  height: 24px;
  top: 10px;
  left: 17px;
}

.iniciar-sesin .frame-3 {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 71px 71px;
  position: absolute;
  top: 197px;
  left: 0;
}

.iniciar-sesin .frame-4 {
  display: inline-flex;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.iniciar-sesin .overlap-wrapper {
  position: relative;
  width: 23.91px;
  height: 23px;
  margin-top: -1px;
  margin-bottom: -1px;
  margin-left: -1px;
  border-radius: 2px;
  border: 1px solid;
  border-color: #d4c4c4;
}

.iniciar-sesin .overlap-group {
  width: 22px;
  height: 21px;
  background-color: #f9f9f9;
  border-radius: 2px;
  box-shadow: 0px 1px 2px #00000040;
}

.iniciar-sesin .overlap-group-wrapper {
  position: relative;
  width: 15px;
  height: 11px;
  top: 6px;
  left: 4px;
}

.iniciar-sesin .overlap-group-2 {
  position: relative;
  width: 14px;
  height: 12px;
  top: -1px;
}

.iniciar-sesin .line {
  position: absolute;
  width: 5px;
  height: 5px;
  top: 7px;
  left: 0;
}

.iniciar-sesin .img {
  position: absolute;
  width: 11px;
  height: 12px;
  top: 0;
  left: 3px;
}

.iniciar-sesin .text-wrapper-3 {
  position: relative;
  width: 143px;
  margin-top: -1px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #6b5e5e;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.iniciar-sesin .text-wrapper-4 {
  position: relative;
  width: fit-content;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #0386d0;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.iniciar-sesin .text-wrapper-5 {
  position: absolute;
  width: 162px;
  top: 287px;
  left: 108px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #736f6f;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.iniciar-sesin .frame-5 {
  position: absolute;
  width: 331px;
  height: 61px;
  top: 310px;
  left: 15px;
}

.iniciar-sesin .frame-6 {
  position: absolute;
  width: 350px;
  height: 45px;
  top: 123px;
  left: 14px;
  background-color: #ffffff;
  border-radius: 9px;
  box-shadow: 0px 0px 18px #00000040;
}

.iniciar-sesin .contrasea {
  position: absolute;
  width: 280px;
  height: 18px;
  top: 12px;
  left: 54px;
  background-color: transparent;
  font-family: "Roboto", Helvetica;
  font-weight: 300;
  color: #a5a5a5;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  border: 0;
  padding: 0;
}

.iniciar-sesin .lock {
  position: absolute;
  width: 25px;
  height: 24px;
  top: 7px;
  left: 17px;
}

.iniciar-sesin .div-wrapper {
  position: absolute;
  width: 34px;
  height: 18px;
  top: 13px;
  left: 293px;
  background-image: url(./img/ellipse-1.svg);
  background-size: 100% 100%;
}

.iniciar-sesin .ellipse-wrapper {
  position: relative;
  width: 16px;
  height: 14px;
  top: 2px;
  left: 9px;
  border-radius: 7.82px/6.9px;
  border: 1px solid;
  border-color: #a5a5a5;
}

.iniciar-sesin .ellipse {
  position: relative;
  width: 8px;
  height: 7px;
  top: 3px;
  left: 3px;
  background-color: #a5a5a5;
  border-radius: 3.76px/3.3px;
  border: 1px solid;
}

.iniciar-sesin .frame-7 {
  position: absolute;
  width: 344px;
  height: 45px;
  top: 448px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.2s ease;
}

.iniciar-sesin .overlap-2 {
  position: relative;
  height: 45px;
}

.iniciar-sesin .rectangle-2 {
  position: absolute;
  width: 344px;
  height: 45px;
  top:-220px;
  left: 0;
  background-color: #15adb7;
 
  transition: all 0.2s ease;
}

.iniciar-sesin .text-wrapper-6 {
  position: absolute;
  top: 12px;
  left: 146px;
  font-family: "Trebuchet MS-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 17px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.iniciar-sesin .bienvenido-a {
  position: absolute;
  width: 416px;
  height: 31px;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
}

.iniciar-sesin .group-2 {
  position: absolute;
  width: 195px;
  height: 36px;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.iniciar-sesin .text-wrapper-7 {
  position: absolute;
  height: 23px;
  top: 8px;
  left: 83px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 19px;
  letter-spacing: 0;
  line-height: normal;
}

.iniciar-sesin .vector {
  position: absolute;
  width: 66px;
  height: 36px;
  top: 0;
  left: 0;
}
