.VENTA-FINAL {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.VENTA-FINAL .div {
  background-color: #ffffff;
  width: 1400px;
  height: 1024px;
  position: relative;
}

.VENTA-FINAL .frame {
  display: flex;
  flex-direction: column;
  width: 801px;
  height: 297px;
  align-items: center;
  gap: 27px;
  position: absolute;
  top: 349px;
  left: 300px;
  background-color: #7a7a7a;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040;
}

.VENTA-FINAL .div-wrapper {
  display: inline-flex;
  height: 197px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: relative;
}

.VENTA-FINAL .text-wrapper {
  position: relative;
  width: 744px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 64px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.VENTA-FINAL .frame-2 {
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  gap: 27px;
  position: relative;
  flex: 0 0 auto;
  border: none; /* Elimina el borde */
    outline: none; /* Elimina el contorno del enfoque */
}

.VENTA-FINAL .frame-3 {
  display: flex;
  width: 192px;
  height: 48px;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  position: relative;
  background-color: #14adb6;
  border: none; /* Elimina el borde */
    outline: none; /* Elimina el contorno del enfoque */
}

.VENTA-FINAL .text-wrapper-2 {
  
  position: relative;
  flex: 1;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  border: none; /* Elimina el borde */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  background: none; /* Elimina el fondo */
  border: none;
}

.VENTA-FINAL .frame-4 {
  display: flex;
  width: 192px;
  height: 48px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  background-color: #7915b7;
  border: none; /* Elimina el borde */
  outline: none; /* Elimina el contorno del enfoque */
}

.VENTA-FINAL .frame-5 {
  position: absolute;
  width: 1400px;
  height: 68px;
  top: 0;
  left: 0;
  background-color: #02474c;
}

.VENTA-FINAL .group {
  position: absolute;
  width: 195px;
  height: 36px;
  top: 14px;
  left: 17px;
}

.VENTA-FINAL .text-wrapper-3 {
  position: absolute;
  height: 23px;
  top: 8px;
  left: 83px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 19px;
  letter-spacing: 0;
  line-height: normal;
}

.VENTA-FINAL .vector {
  position: absolute;
  width: 66px;
  height: 36px;
  top: 0;
  left: 0;
}

.VENTA-FINAL .frame-6 {
  position: absolute;
  width: 534px;
  height: 39px;
  top: 14px;
  left: 332px;
  background-color: #ffffff;
  border-radius: 6px;
}

.VENTA-FINAL .text-wrapper-4 {
  position: absolute;
  height: 16px;
  top: 8px;
  left: 174px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #aba3a3;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
  border: none; /* Elimina el borde */
  outline: none; /* Elimina el contorno del enfoque */
}

.VENTA-FINAL .overlap-group {
  position: absolute;
  width: 128px;
  height: 25px;
  top: 8px;
  left: 18px;
}

.VENTA-FINAL .text-wrapper-5 {
  position: absolute;
  height: 16px;
  top: 0;
  left: 0;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #aba3a3;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.VENTA-FINAL .chevron-down {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 1px;
  left: 104px;
}

.VENTA-FINAL .line {
  position: absolute;
  width: 1px;
  height: 38px;
  top: 0;
  left: 156px;
  object-fit: cover;
}

.VENTA-FINAL .img {
  position: absolute;
  width: 43px;
  height: 38px;
  top: 0;
  left: 490px;
}

.VENTA-FINAL .frame-wrapper {
  position: absolute;
  width: 134px;
  height: 29px;
  top: 12px;
  left: 907px;
}

.VENTA-FINAL .frame-7 {
  display: flex;
  width: 134px;
  align-items: center;
  gap: 4px;
  position: relative;
}

.VENTA-FINAL .frame-8 {
  display: flex;
  flex-direction: column;
  width: 131.5px;
  align-items: flex-start;
  gap: 4px;
  position: relative;
}

.VENTA-FINAL .frame-9 {
  display: flex;
  width: 132px;
  align-items: center;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
  margin-right: -0.5px;
}

.VENTA-FINAL .group-2 {
  position: relative;
  width: 16px;
  height: 8.08px;
}

.VENTA-FINAL .frame-10 {
  display: inline-flex;
  align-items: flex-start;
  gap: 5px;
  position: relative;
  flex: 0 0 auto;
  margin-right: -1px;
}

.VENTA-FINAL .text-wrapper-6 {
  position: relative;
  width: 113px;
  margin-top: -1px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 11px;
  letter-spacing: 0;
  line-height: normal;
}

.VENTA-FINAL .frame-11 {
  display: flex;
  width: 132px;
  align-items: center;
  gap: 9px;
  position: relative;
  flex: 0 0 auto;
  margin-right: -0.5px;
}

.VENTA-FINAL .group-3 {
  position: relative;
  width: 12px;
  height: 10px;
  margin-left: -0.5px;
}

.VENTA-FINAL .frame-12 {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.VENTA-FINAL .text-wrapper-7 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.VENTA-FINAL .frame-13 {
  display: inline-flex;
  flex-direction: column;
  height: 56px;
  align-items: flex-start;
  gap: 4px;
  padding: 3px;
  position: absolute;
  top: 6px;
  left: 1083px;
}

.VENTA-FINAL .ll-menos-wrapper {
  display: flex;
  width: 70px;
  align-items: flex-start;
  gap: 32px;
  position: relative;
  flex: 0 0 auto;
}

.VENTA-FINAL .ll-menos {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 9px;
  letter-spacing: 0;
  line-height: normal;
}

.VENTA-FINAL .frame-14 {
  display: flex;
  width: 94px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.VENTA-FINAL .headphones-svgrepo {
  position: relative;
  width: 19px;
  height: 19px;
}

.VENTA-FINAL .text-wrapper-8 {
  position: relative;
  width: 96px;
  margin-top: -1px;
  margin-right: -21px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.VENTA-FINAL .frame-15 {
  position: absolute;
  width: 120px;
  height: 44px;
  top: 12px;
  left: 1224px;
}

.VENTA-FINAL .user {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 10px;
  left: 0;
}

.VENTA-FINAL .frame-16 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  position: absolute;
  top: 0;
  left: 96px;
}

.VENTA-FINAL .frame-17 {
  display: inline-flex;
  flex-direction: column;
  height: 44px;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.VENTA-FINAL .group-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.VENTA-FINAL .overlap-group-wrapper {
  position: relative;
  width: 26.5px;
  height: 36.05px;
  margin-right: -2px;
}

.VENTA-FINAL .overlap-group-2 {
  position: relative;
  width: 24px;
  height: 36px;
}

.VENTA-FINAL .text-wrapper-9 {
  position: absolute;
  width: 21px;
  height: 18px;
  top: 0;
  left: 4px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #fcdd3b;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.VENTA-FINAL .shopping-cart {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 12px;
  left: 0;
}

.VENTA-FINAL .vector-2 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 9px;
  left: 49px;
}

.VENTA-FINAL .frame-18 {
  display: flex;
  width: 1400px;
  height: 49px;
  align-items: center;
  gap: 396px;
  padding: 51px;
  position: absolute;
  top: 68px;
  left: 0;
  background-color: #0e3b3d;
  box-shadow: 0px 4px 9px #00000063;
}

.VENTA-FINAL .navbar {
  position: relative;
  width: 720px;
  height: 41px;
  margin-top: -47px;
  margin-bottom: -47px;
}

.VENTA-FINAL .frame-19 {
  position: absolute;
  width: 179px;
  height: 31px;
  top: 5px;
  left: -42px;
  border-radius: 8px;
}

.VENTA-FINAL .group-4 {
  position: absolute;
  width: 13px;
  height: 12px;
  top: 8px;
  left: 11px;
}

.VENTA-FINAL .rectangle {
  top: 0;
  position: absolute;
  width: 13px;
  height: 2px;
  left: 0;
  background-color: #ffffff;
}

.VENTA-FINAL .rectangle-2 {
  top: 5px;
  position: absolute;
  width: 13px;
  height: 2px;
  left: 0;
  background-color: #ffffff;
}

.VENTA-FINAL .rectangle-3 {
  top: 11px;
  position: absolute;
  width: 13px;
  height: 2px;
  left: 0;
  background-color: #ffffff;
}

.VENTA-FINAL .text-wrapper-10 {
  position: absolute;
  width: 196px;
  top: 4px;
  left: 32px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.VENTA-FINAL .text-wrapper-11 {
  left: 220px;
  position: absolute;
  height: 16px;
  top: 9px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.VENTA-FINAL .text-wrapper-12 {
  left: 327px;
  position: absolute;
  height: 16px;
  top: 9px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.VENTA-FINAL .text-wrapper-13 {
  left: 434px;
  position: absolute;
  height: 16px;
  top: 9px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.VENTA-FINAL .text-wrapper-14 {
  left: 547px;
  position: absolute;
  height: 16px;
  top: 9px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.VENTA-FINAL .frame-20 {
  position: relative;
  flex: 0 0 auto;
  margin-top: -37.5px;
  margin-bottom: -37.5px;
}
