.registrarse {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.registrarse .frame-wrapper {
  background-image: url(./img/gmaecycle-2.png);
  background-size: cover;
  background-position: 50% 50%;
  width: 100vw; /* Ancho al 100% del viewport */
  height: 100vh; /* Alto al 100% del viewport */
  opacity: 90%;
  background-color: black;
}

.registrarse .frame {
  display: flex;
  flex-direction: column;
  width: 443px;
  align-items: center; /* Centrar horizontalmente */
  gap: 28px;
  padding: 41px;
  position: absolute; /* Cambiado a posición absoluta */
  top: 50%; /* Colocado en la mitad de la página verticalmente */
  left: 50%; /* Colocado en la mitad de la página horizontalmente */
  transform: translate(-50%, -50%); /* Corregir el centrado */
  background-color: #f1ebeb;
  border-radius: 20px;
}

.registrarse .div {
  position: relative;
  width: 66px;
  height: 27px;
}

.registrarse .text-wrapper {
  position: absolute;
  width: 66px;
  top: -1px;
  left: 0;
  font-family: "Roboto", Helvetica;
  font-weight: 700;
  color: #131314;
  font-size: 17px;
  letter-spacing: 0;
  line-height: normal;
}

.registrarse .line {
  position: absolute;
  width: 66px;
  height: 1px;
  top: 26px;
  left: 0;
  object-fit: cover;
}

.registrarse .div-wrapper {
  position: relative;
  width: 330.7px;
  height: 20px;
}

.registrarse .text-wrapper-2 {
  position: absolute;
  width: 331px;
  top: -1px;
  left: 0;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #151515;
  font-size: 17px;
  letter-spacing: 0;
  line-height: normal;
}

.registrarse .frame-2 {
  position: relative;
  width: 350px;
  height: 45px;
  background-color: #ffffff;
  border-radius: 9px;
  box-shadow: 0px 0px 18px #00000040;
}

.registrarse .nombre-completo {
  position: absolute;
  width: 240px;
  height: 18px;
  top: 14px;
  left: 55px;
  background-color: transparent;
  font-family: "Roboto", Helvetica;
  font-weight: 300;
  color: #a5a5a5;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  border: 0;
  padding: 0;
  border: none; /* Elimina el borde */
  outline: none; /* Elimina el contorno del enfoque */
}

.registrarse .user {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 12px;
  left: 17px;
}

.registrarse .e-mail {
  position: absolute;
  width: 240px;
  height: 18px;
  top: 13px;
  left: 55px;
  background-color: transparent;
  font-family: "Roboto", Helvetica;
  font-weight: 300;
  color: #a5a5a5;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  border: 0;
  padding: 0;
  border: none; /* Elimina el borde */
  outline: none; /* Elimina el contorno del enfoque */
}

.registrarse .mail {
  position: absolute;
  width: 25px;
  height: 24px;
  top: 11px;
  left: 18px;
}

.registrarse .contrasea {
  position: absolute;
  width: 240px;
  height: 18px;
  top: 16px;
  left: 54px;
  background-color: transparent;
  font-family: "Roboto", Helvetica;
  font-weight: 300;
  color: #a5a5a5;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  border: 0;
  padding: 0;
  border: none; /* Elimina el borde */
  outline: none; /* Elimina el contorno del enfoque */
}

.registrarse .lock {
  left: 18px;
  position: absolute;
  width: 25px;
  height: 24px;
  top: 9px;
}

.registrarse .group {
  top: 17px;
  left: 300px;
  background-image: url(./img/ellipse-1-1.svg);
  position: absolute;
  width: 34px;
  height: 18px;
  background-size: 100% 100%;
}

.registrarse .overlap-group {
  position: relative;
  width: 16px;
  height: 14px;
  top: 2px;
  left: 9px;
  border-radius: 7.82px/6.9px;
  border: 1px solid;
  border-color: #a5a5a5;
}

.registrarse .ellipse {
  position: relative;
  width: 8px;
  height: 7px;
  top: 3px;
  left: 3px;
  background-color: #a5a5a5;
  border-radius: 3.76px/3.3px;
  border: 1px solid;
}

.registrarse .confirmar-contrasea {
  position: absolute;
  width: 240px;
  height: 18px;
  top: 15px;
  left: 54px;
  background-color: transparent;
  font-family: "Roboto", Helvetica;
  font-weight: 300;
  color: #a5a5a5;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  border: 0;
  padding: 0;
  border: none; /* Elimina el borde */
  outline: none; /* Elimina el contorno del enfoque */
}

.registrarse .overlap-group-wrapper {
  top: 16px;
  left: 298px;
  background-image: url(./img/ellipse-1-1.svg);
  position: absolute;
  width: 34px;
  height: 18px;
  background-size: 100% 100%;
}

.registrarse .img {
  left: 19px;
  position: absolute;
  width: 25px;
  height: 24px;
  top: 9px;
}

.registrarse .frame-3 {
  display: flex;
  width: 348px;
  height: 51px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  background-color: #14adb6;
  transition: all 0.2s ease;
}

.registrarse .text-wrapper-3 {
  position: relative;
  width: fit-content;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}
