.venta-nuevos {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  width: 100%;
}

.venta-nuevos .div {
  background-color: #f6f6f6;
  width: 1400px;
  height: 1701px;
  position: relative;
  

}

.venta-nuevos .frame {
  
  text-align: center;
}

.juegos-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0px; /* Ajusta el espacio entre los elementos según sea necesario */
  padding: 70px;
  list-style: none;
}

.juego-item {
  display: flex;
  justify-content: center;
}

.venta-nuevos .videojuego {
  display: flex;
  flex-direction: column;
  width: 203px;
  height: 384px;
  align-items: center;
  gap: 10px;
  padding: 14px;
  top: 614px;
  left: 97px;

  border-radius: 6px;
  border: 1px solid;
  border-color: #00000021;
  box-shadow: 0px 1px 13px #0000003b;
  background: linear-gradient(
    180deg,
    rgb(255, 255, 255) 0%,
    rgb(255, 255, 255) 46.87%,
    rgb(255, 255, 255) 46.88%,
    rgb(255, 255, 255) 46.88%,
    rgb(247.32, 247.32, 247.32) 48.24%,
    rgb(243.31, 243.31, 243.31) 100%
  );
}


.venta-nuevos .text-wrapper {
  width: 137px;
  height: 28px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  text-align: center;
}

.venta-nuevos .rectangle {
  position: relative;
  flex: 1;
  width: 167px;
  flex-grow: 1;
  object-fit: cover;
}

.venta-nuevos .div-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.venta-nuevos .frame-2 {
  display: flex;
  width: 158px;
  height: 35px;
  justify-content: center;
  background-color: #14adb6;
  align-items: center;
  gap: 10px;
  position: relative;
}
.venta-nuevos .text-wrapper-3 {
  position: relative;
  width: fit-content;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  background-color: #15ADB7;
  color: white;
  border: none;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  width: 158px;
  height: 35px
}


