.pantalla-despegable {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.pantalla-despegable .div {
  background-color: #ffffff;
  width: 358px;
  height: 440px;
  position: relative;
}

.pantalla-despegable .overlap-group {
  position: absolute;
  width: 358px;
  height: 88px;
  top: 0;
  left: 0;
  background-color: #0e3b3e;
}

.pantalla-despegable .text-wrapper {
  position: absolute;
  top: 43px;
  left: 19px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 26px;
  letter-spacing: 0;
  line-height: 32px;
  white-space: nowrap;
}

.pantalla-despegable .overlap {
  position: absolute;
  width: 248px;
  height: 29px;
  top: 5px;
  left: 105px;
}

.pantalla-despegable .text-wrapper-2 {
  position: absolute;
  width: 233px;
  top: 4px;
  left: 0;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 17px;
  letter-spacing: 0;
  line-height: 32px;
  white-space: nowrap;
}

.pantalla-despegable .x-square {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 224px;
}

.pantalla-despegable .vector {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 17px;
  left: 47px;
}

.pantalla-despegable .line {
  position: absolute;
  width: 358px;
  top: 312px;
  left: 0;
  height: 1px;
  object-fit: cover;
}

.pantalla-despegable .text-wrapper-3 {
  position: absolute;
  top: 320px;
  left: 20px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #7a7a7a;
  font-size: 23px;
  letter-spacing: 0.69px;
  line-height: 18px;
  white-space: nowrap;
}

.pantalla-despegable .text-wrapper-4 {
  position: absolute;
  top: 320px;
  left: 208px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 23px;
  letter-spacing: 0.69px;
  line-height: 18px;
  white-space: nowrap;
}

.pantalla-despegable .frame {
  display: flex;
  width: 158px;
  height: 35px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
  top: 380px;
  left: 98px;
  background-color: #c0a414;
}

.pantalla-despegable .text-wrapper-5 {
  position: relative;
  width: fit-content;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.pantalla-despegable .frame-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 11px;
  position: absolute;
  top: 119px;
  left: 18px;
}

.pantalla-despegable .frame-3 {
  display: inline-flex;
  align-items: flex-start;
  gap: 9px;
  position: relative;
  flex: 0 0 auto;
}

.pantalla-despegable .ljcxangrw-x {
  position: relative;
  width: 81px;
  height: 68px;
}

.pantalla-despegable .p {
  position: relative;
  width: 198px;
  margin-top: -1px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 24px;
}

.pantalla-despegable .span {
  color: #000000;
}

.pantalla-despegable .text-wrapper-6 {
  color: #4d575b;
}

.pantalla-despegable .trash {
  position: relative;
  width: 24px;
  height: 24px;
}

.pantalla-despegable .img {
  position: relative;
  width: 318px;
  height: 1px;
  object-fit: cover;
}
